/* stylelint-disable */
@font-face {
	font-display: block;
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/icomoon/icomoon.eot?xqo0h6");
	src: url("../fonts/icomoon/icomoon/icomoon.eot?xqo0h6#iefix") format('embedded-opentype'), url("../fonts/icomoon/icomoon.ttf?xqo0h6") format('truetype'), url("../fonts/icomoon/icomoon.woff?xqo0h6") format('woff'), url("../fonts/icomoon/icomoon.svg?xqo0h6#icomoon") format('svg');
}

@mixin icomoon() {
		/* use !important to prevent issues with browser extensions that change fonts */
		font-family: 'icomoon' !important;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		line-height: 1;
		speak: none;
		text-transform: none;

}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
}

.icon-consegna:before {
  content: "\e91f";
}
.icon-email:before {
  content: "\e920";
}
.icon-indirizzo:before {
  content: "\e921";
}
.icon-ordine:before {
  content: "\e922";
}
.icon-prossimo-pagamento:before {
  content: "\e923";
}
.icon-totale:before {
  content: "\e924";
}
.icon-ics:before {
  content: "\e91e";
}
.icon-sad:before {
  content: "\e900";
}
.icon-account:before {
  content: "\e91d";
}
.icon-close:before {
  content: "\e907";
}
.icon-check-fill:before {
  content: "\e91b";
}
.icon-cloud:before {
  content: "\e90b";
}
.icon-heart:before {
  content: "\e918";
}
.icon-sun:before {
  content: "\e919";
}
.icon-water:before {
  content: "\e91a";
}
.icon-hamburger:before {
  content: "\e90a";
}
.icon-android:before {
  content: "\e901";
}
.icon-apple:before {
  content: "\e902";
}
.icon-arrow-down:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-up:before {
  content: "\e906";
}
.icon-check:before {
  content: "\e908";
}
.icon-dots:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-instagram:before {
  content: "\e90d";
}
.icon-linkedin:before {
  content: "\e90e";
}
.icon-mail-full:before {
  content: "\e90f";
}
.icon-medium:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-spotify:before {
  content: "\e913";
}
.icon-star:before {
  content: "\e914";
}
.icon-twitter:before {
  content: "\e915";
}
.icon-vimeo:before {
  content: "\e916";
}
.icon-whatsapp:before {
  content: "\e917";
}
.icon-youtube:before {
  content: "\e91c";
}
