/* stylelint-disable */
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Barlow:wght@200;400;500;600;900&display=swap');

@font-face {
    font-family: 'Bubble';
    src: url('../fonts/bubble/bubbleboop-regular-webfont.woff2') format('woff2'),
         url('../fonts/bubble/bubbleboop-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

//Font
$font-body: 'Barlow', sans-serif;
$font-title: 'Alice', serif;
$font-hand: 'Bubble';

//Colors
$light-gray: #DEE4E6;
$gray: #697478;
$muted: #8c9da3;
$black: #343535;
$background: #f2f2ee;
//$primary: #479461;
$primary: #4ec68a;
$red: #EC5157;
$white: #FFF;
$info: #1397E1;
$blue: #3c21ff;
$beige: #e8e2da;
$yellow: #f6d86d;
$green: #4ec68a;
$orange: #e8532b;
$panna: #e5d7c8;
$brown: #765341;
