/* stylelint-disable */
.woo-wallet-content {
	.account-small-direction {
		@include font-size(14);
		margin-top: 16px;
	}
}

.wallet-icon-add {
	@include font-size(22);
	color: $blue;
	display: block;
	@include transform(rotate(45deg));
}

.wallet-credit-header {
	border-bottom: 1px solid #eaeae1;
	padding: 0 0 16px;
	margin-bottom: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#wc-wallet-transaction-details_wrapper.dataTables_wrapper {
	.dataTables_filter {
		label {
			display: flex;
			align-items: center;
		}

		input {
			@include input();
			height: 35px;
			width: 150px;
			margin: 0 0 0 4px;
		}
	}

	.dataTables_length {
		label {
			display: flex;
			align-items: center;
		}

		select {
			@include input();
			margin: 0 4px;
			height: 35px;
		}
	}
}

#wc-wallet-transaction-details {
	padding-top: 20px;

	thead {
		th {
			font-weight: 600;
			@include font-size(16);
		}
	}
}

.woo-wallet-transactions-items {
	li {
		padding: 16px 0 0 0 !important;
	}
}

.dataTables_info,
.dataTables_paginate {
	@include font-size(16);
	color: $muted;
}

.woo-wallet-my-wallet-container {
	@include border-radius(4px);
	border: 1px solid #eaeae1 !important;

	.woo-wallet-sidebar {
		padding-top: 0 !important;
	}

	.woo-add-to-wallet {
		width: 100%;
	}

	.woo-wallet-sidebar {
		ul {
			li.card {
				box-shadow: none;

				&:hover {
					box-shadow: 0 5px 5px 0 rgb(0 0 0 / 15%);
				}

				a {
					@include font-size(16);
					border: 1px solid $blue;
					color: $blue;

					p {
						margin-top: 8px;
					}
				}
			}
		}
	}
}

body.woocommerce-account {
	.remove-me {
		.button.change_address {
			display: none !important;
			pointer-events: none !important;
		}
	}

	.entry-header,
	.page-header {
		display: none;
	}

	.site-main {
		display: block;
		margin: 0 auto;
		max-width: 1180px;
		padding: 0 40px;
		position: relative;
		@include breakpoint(tablet) {
			padding: 0 30px;
		}
		@include breakpoint(mobile) {
			padding: 0;
		}
	}
}

.client-header {
	@include clearfix();
	border-bottom: 1px solid #ddd;
	margin: 90px 0 0;
	padding-bottom: 40px;
	width: 100%;
	@include breakpoint(mobile) {
		margin: 0 0 24px;
		padding-bottom: 24px;
		text-align: center;
	}
}

.user-profile {
	&--header {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&--name {
		@include font-size(28);
		color: $black;
		line-height: 1.1;
		margin: 24px 0 16px;
		font-family: $font-title;
		font-weight: 900;
		@include breakpoint(desktop) {
			@include font-size(42);
		}
	}

	&--registered {
		@include font-size(20);
		color: $muted;
		@include breakpoint(mobile) {
			@include font-size(16);
			margin-bottom: 24px;
		}
	}

	&--user {
		width: 50%;
		@include breakpoint(mobile) {
			width: 100%;
		}
	}

	&--details {
		display: flex;
		width: 50%;
		justify-content: flex-end;
		@include breakpoint(mobile) {
			width: 100%;
		}

		&--item {
			@include border-radius(8px);
			width: 33.333%;
			padding: 16px 24px;
			margin-left: 8px;
			text-align: center;
			background: $background;
			@include breakpoint(mobile) {
				padding: 16px;
				text-align: left;
			}

			&:first-of-type {
				border-left: none;
				margin-left: 0;
			}

			&.next-box {
				background: rgba($primary, 0.15);
			}

			&.subscriptions {
				.user-profile--details--number {
					display: none;

					&:last-of-type {
						display: block;
					}
				}
			}
		}

		&--title {
			@include font-size(16);
			font-weight: 600;
			line-height: 1;
			margin-bottom: 8px;
			@include breakpoint(mobile) {
				@include font-size(14);
				margin-bottom: 4px;
			}
		}

		&--number {
			@include font-size(70);
			font-weight: 300;
			color: $primary;
			@include breakpoint(mobile) {
				@include font-size(40);
			}
		}
	}
}

body.woocommerce-account {
	background: $white;

	.woocommerce-flex {
		align-items: flex-start;
		display: flex;
		justify-content: center;
		margin: 40px auto 0;
		@include breakpoint(mobile) {
			display: block;
			width: 100%;
			padding: 0;
			margin: 24px auto 0;
		}
	}

	.woocommerce-MyAccount-navigation {
		float: none !important;
		margin-right: 50px;
		margin-top: -8px;
		max-width: 100%;
		width: 240px;
		margin-bottom: 40px;
	}

	.woocommerce-MyAccount-content {
		float: none !important;
		width: 75%;
		@include breakpoint(mobile) {
			width: 100%;
		}
	}
}

.subscription_details,
.woocommerce-orders-table__cell-order-actions {
	a.button {
		@include button();
		@include buttonprimary();
		@include buttonxsmall();
		border: 2px solid $blue;
		margin: 2px;
		@include breakpoint(mobile) {
			margin: 8px 0 0;
		}

		&:hover {
			border: 2px solid #5e0bdb;
			background-color: transparent;
			background-image: linear-gradient(to right, $blue, $blue, #5e0bdb, #5e0bdb);
		}

		&.cancel,
		&.reactivate {
			margin-right: 4px;
		}

		&.cancel,
		&.change_address {
			@include buttonsecondary();
			background-color: transparent;
		}
	}
}

.woocommerce-MyAccount-navigation {
	@include breakpoint(mobile) {
		display: none;
	}

	ul {
		list-style: none !important;
		margin: 0 !important;
		padding: 0 !important;

		li {
			padding: 0;

			&:before {
				content: none !important;
			}

			a {
				@include border-radius(4px);
				@include font-size(16);
				background: $background;
				color: $gray;
				display: block;
				font-weight: 300;
				margin: 8px 0;
				padding: 8px 16px;
				border: 1px solid transparent;

				&:hover {
					border: 1px solid $blue;
					color: $blue;
				}
			}

			&.is-active {
				a {
					background-color: $blue;
					color: #fff;
				}
			}
		}
	}
}

.woocommerce-Addresses {
	display: flex;

	.woocommerce-Address {
		flex: none !important;
		margin: 32px 0 0;
		max-width: none !important;
		padding: 24px;
		width: 50% !important;

		.edit {
			@include font-size(14);
		}
	}

	.woocommerce-Address-title {
		h3 {
			@include font-size(20);
			float: none !important;
		}
	}
}

.select2-container--default .select2-selection--single {
	border: none !important;
	height: 45px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 45px !important;
	padding-left: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 10px !important;
	right: 6px !important;
}

.select2-dropdown {
	border: none !important;
	padding: 0 5px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border: 1px solid $muted !important;
	padding: 0 10px !important;
}

.form-row {
	.woocommerce-input-wrapper {
		width: 100%;

		strong {
			@include input();
		}

		.select2 {
			@include font-size(16);
			margin: 8px 0;
			font-family: $font-body;
		}
	}

	input {
		width: 100%;
	}
}

.form-buttons {
	margin-top: 32px;
	text-align: center;
}

.woocommerce .woocommerce-customer-details .woocommerce-customer-details--email,
.woocommerce .woocommerce-customer-details .woocommerce-customer-details--phone {
	padding-left: 0;
	margin: 16px 0;

	&:before {
		content: none;
	}
}

.woocommerce .woocommerce-customer-details {
	margin-bottom: 0;
}

.woocommerce-account {
	.my-account {
		&--description {
			@include font-size(14);
			margin-bottom: 24px;

			strong {
				font-weight: 600;
			}
		}

		&--minititle {
			@include clearfix();
			@include font-size(20);
			color: $black;
			display: inline-block;
			font-weight: 600;
			margin: 0 0 32px !important;
			position: relative;
			@include breakpoint(desktop) {
				@include font-size(22);
			}

			&.small {
				@include font-size(16);
				margin-bottom: 16px !important;
				@include breakpoint(desktop) {
					@include font-size(18);
				}
			}

			&.mg-top {
				margin-top: 32px !important;
			}

			&::after {
				background: $black;
				bottom: -3px;
				content: '';
				display: block;
				height: 1px;
				left: 0;
				position: absolute;
				width: 100%;
			}
		}
	}
}

.password-input {
	width: 100%;

	.show-password-input {
		top: 22px !important;
		right: 10px !important;
	}
}

.woocommerce-Address-title {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
}

.address-title {
	margin-top: 0;
}

.table-shadow-relative {
	position: relative;
}
//
// .table-shadow {
// 	@include border-radius(4px);
// 	bottom: 20px;
// 	box-shadow: 0 18px 5px 0 rgba(0, 0, 0, 0.15);
// 	content: '';
// 	display: block;
// 	left: 0;
// 	position: absolute;
// 	top: -18px;
// 	width: 100%;
// 	z-index: -1;
// }

.account-borders {
	padding: 24px 20px;
	@include border-radius(4px);
	border: 1px solid #eaeae1 !important;
	margin-bottom: 32px;

	&.last {
		margin-bottom: 0;
	}
}

.woocommerce-customer-details {
	@include breakpoint(mobile) {
		margin-bottom: 0 !important;
	}
}

.woocommerce,
.woocommerce-columns--addresses {
	@include breakpoint(mobile) {
		.col-2 .woocommerce-column__title {
			margin-top: 32px;
		}
	}

	.woocommerce-column__title {
		font-weight: 600;
		margin-bottom: 24px;
	}

	address {
		@include font-size(18);
		font-weight: 300;
		line-height: 1.4;
		font-style: normal;
		background: #fff;
		padding: 24px 20px;
		@include border-radius(4px);
		border: 1px solid #eaeae1 !important;
	}

	.woocommerce-customer-details {
		address {
			border: none !important;
			border-radius: 0 !important;
			padding: 0;
		}
	}

	.cart_totals {
		& > h2 {
			@include font-size(18);
			font-weight: 900;
			margin: 0 0 8px;
			padding: 0 8px;
			font-family: $font-title;
		}

		table.shop_table {
			padding: 32px 24px 24px !important;

			td {
				@include font-size(22);
			}
		}

		.woocommerce-shipping-destination {
			display: none;
		}

		.woocommerce-shipping-methods {
			li {
				padding: 0;
				// label {
				// 	@include font-size(16);
				// 	font-weight: 300 !important;
				// 	letter-spacing: 2px;
				// 	text-transform: uppercase;
				// 	margin: 0;
				// 	text-align: right;
				// 	display: none;
				//
				// 	.woocommerce-Price-amount.amount {
				// 		@include font-size(16);
				// 		font-weight: 300 !important;
				// 		letter-spacing: 2px;
				// 		text-transform: uppercase;
				// 		margin: 0;
				// 		text-align: right;
				// 		display: block;
				// 	}
				// }
				&:before {
					content: none;
				}
			}
		}

		.woocommerce-shipping-destination {
			@include font-size(14);
			margin: -8px 0 0;
			color: $gray;
		}

		.woocommerce-shipping-calculator {
			a {
				@include font-size(14);
				color: $blue;

				&:after {
					position: relative;
					top: 2px;
				}
			}
		}
	}

	table.shop_table {
		background: #fff;
		@include border-radius(4px);
		border: 1px solid #eaeae1 !important;
		border: none;
		padding: 32px 16px;
		position: relative;

		.product-name {
			a {
				color: $black;
			}
		}

		.wc-item-meta {
			@include clearfix();

			li {
				display: flex;
				align-items: center;
			}

			.wc-item-meta-label {
				float: none;
			}
		}

		.order_item {
			.wcs-switch-link.button {
				margin-top: 16px;
				font-weight: 400;
				margin-bottom: 6px;
			}
		}

		.product-name {
			a {
				font-weight: 600;
			}
		}

		th {
			@include font-size(16);
			font-weight: 600 !important;
			padding: 10px 8px !important;
		}

		tr td {
			&.order-actions {
				text-align: right !important;

				a {
					width: 100%;
				}
			}
		}

		td {
			@include font-size(15);
			font-weight: 300;
			padding: 10px 8px !important;
			@include breakpoint(mobile) {
				&:before {
					font-weight: 600 !important;
				}
			}
		}

		tfoot td {
			font-weight: 600 !important;
		}

		.woocommerce-orders-table__cell-order-number {
			a {
				color: $black;
			}
		}
	}
}

.moods-profile {
	&--header {
		text-align: center;
	}

	&--content {
		display: flex;
		flex-wrap: wrap;
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
	}

	&--item {
		margin: 8px 10px;
		text-align: center;
		width: 24%;
	}

	&--text {
		padding-top: 8px;

		&--title {
			@include font-size(14);
			letter-spacing: 2px;
			line-height: 1;
			text-transform: uppercase;
		}
	}

	&--title {
		@include clearfix();
		@include font-size(24);
		color: $black;
		display: inline-block;
		font-weight: 900;
		margin: 0 0 32px;
		position: relative;
		text-align: center;
	}

	&--image {
		@include border-radius(16px);
		box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
		overflow: hidden;
		@include breakpoint(desktop) {
			&:hover {
				img {
					@include transform(scale(1.1));
				}
			}
		}

		img {
			@include transition(all 0.3s ease);
			display: block;
			width: 100%;
		}
	}
}

.empty-states {
	&--text {
		text-align: center;
	}

	&--image {
		margin: 0 auto 16px;
		max-width: 150px;

		&.big {
			max-width: 400px;
		}
	}

	&--title {
		@include font-size(24);
		font-weight: 900;
	}

	&--subtitle {
		@include font-size(16);
		color: $gray;
	}

	&--button {
		margin-top: 24px;
	}
}
// .woocommerce div.shop_table {
// 	background: #fff;
// 	border: none;
// 	padding: 32px 16px;
// 	position: relative;
// 	border-radius: 0;
// 	margin-bottom: 24px;
// }

body.woocommerce-account {
	.account-banner {
		background: $orange;
		padding: 32px 24px;
		margin-bottom: 16px;

		&--text {
			text-align: center;
		}

		&--title {
			@include font-size(28);
			color: $white;
			font-weight: 900;
			font-family: $font-title;
			margin: 0 0 8px;
			@include breakpoint(desktop) {
				@include font-size(32);
			}

			span {
				position: relative;
				top: 3px;
				margin-right: 4px;
			}
		}

		&--subtitle {
			@include font-size(18);
			color: $white;
			font-weight: 400;
			font-family: $font-body;
			margin: 0;
			line-height: 1.2;
		}
	}
}

.woocommerce-MyAccount-content {
	margin-bottom: 32px;

	.woocommerce-address-fields {
		& > p:not(.form-buttons) {
			@include border-radius(4px);
			@include font-size(16);
			background: $red;
			color: $white;
			padding: 10px !important;

			&:before {
				content: 'Nota: ';
				font-weight: 600;
			}
		}
	}
}

.agr-memo {
	background: $panna;
	padding: 0;

	&--flex {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}

	&--text {
		padding: 40px 32px 32px;
		@include breakpoint(desktop) {
			width: 60%;
		}
	}

	&--image {
		@include breakpoint(desktop) {
			width: 40%;
		}
	}

	&--title {
		@include font-size(32);
		font-family: $font-title;
		font-weight: 900;
		line-height: 1;
		margin-bottom: 16px;
	}

	&--subtitle {
		@include font-size(18);
	}

	&--button {
		margin-top: 24px;
	}
}

.top_banner {
	@include border-radius(4px);
	background: $primary;
	padding: 24px 24px 16px;
	margin-bottom: 24px;

	&--title {
		@include font-size(28);
		color: $white;
		font-weight: 900;
		@include breakpoint(desktop) {
			@include font-size(32);
		}
	}

	&--subtitle {
		@include font-size(18);
		color: $white;
		font-weight: 400;
		margin-top: 8px;
	}

	&--logos {
		display: flex;
		align-items: center;
		color: $white;
		margin-top: 32px;

		.agrispesa {
			font-family: $font-title;
			font-weight: 400;
			display: flex;
			align-items: center;
			color: $white;

			svg {
				margin-left: -10px;
				width: 50px;
				fill: $white;
			}
		}

		.per {
			@include font-size(14);
			margin: 0 8px;
			font-weight: 400;
		}

		.denso {
			img {
				height: 20px;
				display: block;
			}
		}
	}
}
