/* stylelint-disable */
* {
	box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;

	&:focus {
		outline: none !important;
	}
}

html {
	box-sizing: border-box;
	font-size: 50%;
	margin: 0;
	padding: 0;
}

body {
	@include font-size(16);
	background: $background;
	color: $black;
	font-family: $font-body;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	width: 100%;
	font-weight: 300;
	padding-top: 80px;
	// &.woocommerce-cart,
	// &.woocommerce-checkout {
	// 	background: $white;
	// }
	@include breakpoint(desktop) {
		@include font-size(18);
		padding-top: 90px;
	}

	&.home {
		padding-top: 0;
	}
}

a {
	@include transition(all 0.3s ease);
}

p {
	margin: 8px 0;
	line-height: 1.2;
}

b,
strong {
	font-weight: 600 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	//font-family: $font-title;
	font-family: $font-body;
	font-weight: 900;
}

.only-mobile {
	display: none !important;
	@include breakpoint(mobile) {
		display: block !important;
	}
}

.only-desktop {
	@include breakpoint(mobile) {
		display: none !important;
	}
}

.clearfix {
	@include clearfix();
}

.text-green {
	color: $primary;
}

.container-pg {
	margin: 0 auto;
	width: 1160px;
	padding: 0 20px;
	max-width: 100%;
	@include breakpoint(desktop) {
		padding: 0 40px;
	}
}

.container-big {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 100%;
	@include breakpoint(desktop) {
		padding: 0 80px;
	}
}

.disclaimer {
	@include border-radius(14px);
	color: $black;
	padding: 16px;
	background: $white;
	border: 1px solid $light-gray;
	margin-top: 32px;
	text-align: center;
	@include breakpoint(desktop) {
		@include border-radius(20px);
		padding: 8px 16px;
	}
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}

	50% {
		transform: translatey(-20px);
	}

	100% {
		transform: translatey(0px);
	}
}

.container-xsmall {
	max-width: 890px;
	margin: 0 auto;
	padding: 0 20px;
}

.container-small {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 20px;
}

.woocommerce-info,
.woocommerce-message {
	@include border-radius(6px);
	@include font-size(16);
	max-width: 1024px;
	margin: 4px 0;
	padding: 28px 20px 20px;
	border: none;
	background: aliceblue;
	box-shadow: 0 5px 5px 0 rgb(0 0 0 / 15%);
	max-width: 450px;
	display: none;

	&::before {
		content: none;
	}

	&.coupon-box {
		background: $white;
		width: 100%;
		max-width: 100%;
		box-shadow: none;
		display: block !important;

		body.woocommerce-checkout & {
			background: $background;
		}

		.icon-star {
			@include font-size(20);
			color: $yellow;
			margin-right: 8px;
			position: relative;
			top: 3px;
		}
	}
}

.woocommerce-form-login-toggle {
	.woocommerce-info {
		background: $panna;
		width: 100%;
		max-width: 100%;
		box-shadow: none;

		.close-notice {
			display: none;
		}
	}

	.woocommerce-checkout & {
		//display: none;
	}
}

.woocommerce-message {
	background: $primary;
	color: $white;
}

.woocommerce-NoticeGroup,
.woocommerce-notices-wrapper {
	//display: none;
	.button {
		display: none !important;
	}

	.restore-item {
		display: inline-block;
		@include breakpoint(desktop) {
			color: $blue;

			&::after {
				@include transition(all 0.3s ease);
				background: $blue;
				content: '';
				display: block;
				height: 1px;
				width: 0;
			}

			&:hover {
				color: $blue;

				&::after {
					width: 100%;
				}
			}
		}
	}

	.close-notice {
		@include transition(all 0.3s ease);
		@include font-size(20);
		position: absolute;
		right: 18px;
		top: 10px;
		cursor: pointer;
		z-index: 3;

		&:hover {
			color: $black;
		}
	}

	ul {
		list-style: none;

		li {
			&:before {
				content: none !important;
			}
		}
	}
}

.ttt-pnwc-overlay {
	top: auto;
	left: auto;
	bottom: 20px;
	right: 20px;
	background: transparent;
	@include breakpoint(mobile) {
		left: 20px;
	}
}

.ttt-pnwc-container {
	min-width: 300px;
	max-width: 400px;
	padding: 0;
	background: transparent;

	.ttt-pnwc-header {
		button.ttt-pnwc-close {
			@include icomoon();
			top: -36px !important;
			right: 0 !important;
			background: transparent;
			cursor: pointer;

			&:before {
				content: "\e907";
			}
		}
	}

	.ttt-pnwc-notice {
		@include border-radius(6px);
		text-align: left;
		justify-content: space-between;
		margin: 4px 0;
		overflow: hidden;
		box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);

		a {
			display: none;
		}

		i {
			display: none;
		}

		.ttt-pnwc-message {
			width: 100%;
			@include font-size(16);
			font-weight: 400;
			line-height: 1.2;
			text-align: left;
			@include breakpoint(desktop) {
				display: flex;
				justify-content: space-between;
			}

			strong {
				font-weight: 600;
			}

			.close-notice {
				margin-left: 24px;
				cursor: pointer;
				display: none;
			}

			a {
				color: $blue;
				margin-left: 4px;
				background: transparent;
				padding: 0;
				font-weight: 400;
				order: 2;
			}
		}

		&.success {
			background: $primary !important;
			color: $white;
		}

		&.info {
			background: $panna !important;
			color: $brown;
		}

		&.error {
			background: $red !important;
			color: $white;
		}
	}
}

.videoWrapper {
	height: 0;
	padding-bottom: 56.25%;
	position: relative;

	iframe,
	video {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
