.fc-day-future {
	cursor: pointer;
}


.fc-event-time, .fc-daygrid-event-dot {
	display: none;
}

.fc-event, .fc-event:hover {
	background: #b02525;
	border: 0;
	color: #fff;
	cursor: pointer;
	height: 30px;
	line-height: 14px;
	padding: 5px;
	text-align: center;
}

.fc .fc-daygrid-day.fc-day-today {
	background: none !important;
}

.fc-today-button {
	display: none !important;
}

.fc-day {
	cursor: pointer !important;
}

.fc .fc-daygrid-day-number {
	font-weight: bold;
}

.temp-event {
	background: #f99090 !important;
}

.temp-event .fc-event-title {
	color: #5d2929 !important;
}


.confirm-calendar {
	float: right;
	margin-top: 20px;

}

.fc .fc-daygrid-week-number {
	font-size: 12px !important;
}
