/* stylelint-disable */
body.woocommerce-cart,
body.woocommerce-checkout {
	.entry-header {
		display: none;
	}
}

.shipping_address.no-mg-top {
	margin-top: 0 !important;
}

body.woocommerce-checkout {
	.woocommerce-form-login-toggle {
		.woocommerce-info {
			@include border-radius(16px);
			display: block !important;
			padding: 24px;
			margin-bottom: 32px;
		}
	}

	.woocommerce-form-login {
		@include border-radius(0 0 16px 16px);
		padding: 24px;
		border: 1px solid #eaeae1;
		border-top: none;
		margin-bottom: 32px;
		margin-top: -50px;
		padding-top: 40px;

		p:not(.form-row) {
			@include font-size(16);
			margin-bottom: 16px;
		}

		p.form-row {
			margin-bottom: 0 !important;
		}

		.woocommerce-button {
			@include button();
			@include buttonprimary();
			@include buttonsmall();
		}

		.lost_password {
			text-align: left;
			margin-top: 16px;

			a {
				@include font-size(14);

				&:hover {
					color: $blue;
				}
			}
		}
	}
}

.woocommerce-MyAccount-navigation {
	ul li {
		padding: 0 !important;

		a {
			&::before {
				content: none !important;
			}
		}
	}

	ul li::before {
		content: none !important;
	}
}

.cart_totals,
.checkout--sommair,
.woocommerce-checkout-payment,
.woocommerce-order {
	ul li {
		padding-left: 0 !important;
	}

	ul li::before {
		content: none !important;
	}
}

body.woocommerce-checkout {
	.checkout-page {
		margin: 0 auto;
		width: 1160px;
		padding: 0;
		max-width: 100%;
		@include breakpoint(desktop) {
			padding: 0 40px;
		}
	}
}

body.woocommerce-cart {
	.coupon {
		display: none;
	}
}

.woocommerce-page table.cart img {
	width: 100px;
}

.woocommerce-page table.cart td.product-thumbnail {
	width: 120px;
	@include breakpoint(mobile) {
		display: block !important;
		width: 100%;

		&::before {
			display: none;
		}
	}
}

.woocommerce-info {
	@include border-radius(4px);
	@include font-size(14);
	background: #f1f1f1;
	border: none;
	color: $black;
	padding: 16px;
	@include breakpoint(desktop) {
		@include font-size(16);
		padding: 16px 24px;
	}

	a {
		color: $blue;
	}

	&::before {
		content: none !important;
	}
}

.cart-collaterals {
	.wc-proceed-to-checkout {
		.proceed-button {
			width: 100%;
		}
	}
}

body.woocommerce-checkout {
	.woocommerce-info,
	.woocommerce-message {
		display: none;
	}
}

.ywgc_have_code {
	.woocommerce-info {
		display: block !important;
		background: $white;
		width: 100%;
		max-width: 100%;
		box-shadow: none;

		body.woocommerce-checkout & {
			background: $background;
		}

		.close-notice {
			display: none;
		}
	}
}

.hide-in-checkout {
	display: none;
}

.happy-price {
	color: $red !important;

	a {
		color: $muted;
	}
}

.ywgc_enter_code > div {
	margin: 0;
}

.my-coupon,
.ywgc_enter_code {
	@include border-radius(0 0 4px 4px);
	background: #fff;
	border: 1px solid #f1f1f1;
	margin: -30px 0 0;
	padding: 24px 16px 8px;
}

.my-coupon {
	padding: 24px 16px 8px;
}

.woocommerce-checkout-review-order {
	@include breakpoint(desktop) {
		position: sticky;
		top: 140px;
	}
}

.gift-card-icon-heart {
	@include font-size(20);
	color: $red;
	margin-right: 8px;
	position: relative;
	top: 3px;
}

.checkout--title {
	@include clearfix();
	@include font-size(20);
	color: $black !important;
	display: inline-block;
	font-weight: 600;
	margin: 0 0 32px;
	position: relative;
	@include breakpoint(desktop) {
		@include font-size(22);
	}

	&::after {
		background: $black;
		bottom: -3px;
		content: '';
		display: block;
		height: 1px;
		left: 0;
		position: absolute;
		width: 100%;
	}
}

.coupon-form {
	align-items: center;
	display: flex;
	justify-content: space-between;

	&--sx {
		padding-right: 24px;
		width: 100%;
	}
}

.checkout {
	&--flex {
		display: flex;
		flex-wrap: wrap;
	}

	&--form {
		order: 2;
		width: 100%;
		@include breakpoint(desktop) {
			order: 1;
			padding: 24px;
			width: 60%;
		}
	}

	&--sommair {
		order: 1;
		width: 100%;
		@include breakpoint(desktop) {
			order: 2;
			padding: 24px;
			width: 40%;
		}
	}

	&--preview {
		img {
			width: 100%;
			margin: 0 auto !important;
		}

		&--cost {
			.includes_tax {
				display: none;
			}

			.woocommerce-Price-amount {
				@include font-size(40);
				font-weight: 300;
				@include breakpoint(desktop) {
					@include font-size(50);
				}

				.woocommerce-Price-currencySymbol {
					@include font-size(30);
					@include breakpoint(desktop) {
						@include font-size(40);
					}
				}
			}
		}

		&--items {
			@include font-size(16);
			color: $black;

			&.product-number {
				padding-bottom: 10px;
				padding-top: 10px;
			}

			&.mg-t {
				margin-top: 24px;
			}

			.is-title {
				color: $black;
				display: block;
				font-weight: 600;
				margin-bottom: 8px;
			}

			.is-description {
				line-height: 1.2;
				display: block;
				color: $black;
			}

			.is-icon {
				@include font-size(20);
				@include border-radius(50%);
				background: $green;
				color: $white;
				position: relative;
				top: 2px;
				margin-right: 4px;
				padding: 1px;
				width: 22px;
				height: 22px;
				display: inline-block;
				text-align: center;

				&.red {
					background: $red;
				}
			}

			.credit-cards {
				padding: 16px 0 0;
				border-top: 1px solid $panna;
				margin: 16px auto 0;

				img {
					display: block;
					margin: 0 auto;
					height: 26px;
				}
			}
		}
	}
}

.box-variations-checkout {}

.woocommerce form .form-row label {
	line-height: normal !important;
	font-family: $font-body;
}



.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
	float: none;
	width: 100%;
}

.checkout-sommair--variations {
	margin-top: -4px;

	span {
		@include font-size(11);
		text-transform: none !important;
		letter-spacing: 0 !important;
		margin-right: 6px;

		&.last {
			margin-right: 0;
		}
	}
}

.woocommerce-after-sommair,
.woocommerce-sommair-end {
	//display: none !important;
}

.woocommerce ul#shipping_method .amount {
	font-weight: 300;
}

.woocommerce {
	.woocommerce-checkout-review-order {
		.shop_table {
			@include border-radius(24px);
			background: $panna;
			border: none;
			padding: 24px;

			td,
			th {
				@include font-size(16);
				font-weight: 300 !important;
				border-top: 1px solid rgba($white, 0.7);

				&.product-name {
					border-top: none;
				}
			}

			th {
				text-align: left;
			}

			td {
				text-align: right;
			}

			.recurring-totals {
				//font-family: $font-title;
				th {
					@include font-size(18);
					padding-top: 24px !important;
					font-weight: 900 !important;
				}
			}

			tr.order-total {
				td,
				th {
					font-weight: 600 !important;
				}
			}

			.cart-discount {
				td {
					color: $red;

					a {
						@include font-size(13);
						color: $black;
						display: block;
					}
				}

				.checkout-coupon-name {
					@include font-size(13);
					display: block;
					text-transform: uppercase;
					letter-spacing: 1px;
					color: $black;
				}

				.free-shipping-hide {
					display: none;
				}
			}
		}
	}
}

.woocommerce-sommair-end {
	font-weight: 600;
}

.sommair {
	&--totals {
		padding: 0 0 24px;

		&--flex {
			align-items: center;
			border-top: 1px solid $white;
			display: flex;
			justify-content: space-between;
			padding: 8px;

			&.shipping {
				padding: 8px;
			}

			&.flex-start {
				align-items: flex-start;
			}

			span {
				@include font-size(16);

				&.bold {
					font-weight: 600;
				}

				&.small {
					@include font-size(16);
				}
			}
		}

		&--dx {
			text-align: right;
		}
	}
}

.woocommerce form .form-row {
	margin: 16px 0 !important;
	padding: 0 !important;

	&.billing_cod_fisc_field {
		border-top: 1px solid $background;
		padding-top: 16px !important;
	}

	&.mailchimp-newsletter {
		margin-top: 0 !important;
		margin-bottom:32px !important;
	}
}

.woocommerce-terms-and-conditions-wrapper {
    padding: 0 0 10px;
    width: 100%;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
	margin: 8px 0 !important;
	font-family: $font-body;
}

.woocommerce form .form-row .required {
	display: none !important;
}

.woocommerce-checkout #payment {
	background: $white !important;
	border-radius: 16px !important;

	ul.payment_methods {
		border-bottom: none !important;
		padding: 0 !important;

		li {
			input {
				display: none;
			}

			.payment_method_wallet {
				label {
					strong {
						font-weight: 400;
					}
				}
			}

			label {
				@include transition(all 0.2s linear);
				@include border-radius(4px);
				@include font-size(16);
				background: $background;
				cursor: pointer;
				margin: 4px 0;
				padding: 10px;
				width: 100%;
				color: $black;
			}

			.payment_box {
				@include font-size(14);
				//display: none !important;
				background: $background;

				&:before {
					border: 1em solid $background;
					border-right-color: transparent;
					border-left-color: transparent;
					border-top-color: transparent;
				}

				.wc-credit-card-form {
					padding: 0;

					#wcpay-card-element,
					#wcpay-sepa-element {
						padding: 16px 10px;
						border-radius: 8px;
					}
				}
			}

			input:checked ~ label {
				background: $orange;
				border-color: $orange;
				color: $white;
			}

			&:not(.payment_method_woocommerce_payments) {
				.payment_box {
					display: none !important;
				}
			}

			&.payment_method_satispay,
			&.payment_method_woocommerce_payments {
				& > label {
					display: flex;
					justify-content: space-between;
					align-items: center;

					img {
						display: none;

						&.show-img {
							display: block;
							height: 32px;
						}
					}
				}
			}
		}
	}
}

.test-meta-cart {
	@include clearfix();
	align-items: center;
	display: flex;

	span {
		margin-left: 8px;
		text-transform: capitalize;

		body.woocommerce-checkout & {
			@include font-size(12);
			letter-spacing: 0;
		}

		&::before {
			@include border-radius(50%);
			background: $black;
			content: '';
			display: inline-block;
			height: 4px;
			margin-right: 8px;
			position: relative;
			top: -2px;
			width: 4px;
		}

		&:first-of-type {
			margin-left: 0;

			&::before {
				content: none;
				margin: 0;
			}
		}
	}
}

.continue-shopping {
	margin-top: 16px;

	a {
		width: 100%;
	}
}

.quiz-name-label {
	margin-top: -16px;
}

.multi-product-images {
	align-items: center;
	display: flex;
	justify-content: flex-start;

	.checkout--preview--image {
		margin-right: 12px;
		max-width: 45px;
	}
}

.free-shipping-li {
	align-items: center;
	border-top: 1px solid #ddd;
	display: flex !important;
	justify-content: space-between;
	padding: 8px 0;

	label {
		@include font-size(12);
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	.amount {
		@include font-size(14);
		font-weight: 400 !important;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

.discount-shipping {
	&--old {
		margin-right: 8px;
		position: relative;

		&::before {
			background: $red;
			content: '';
			display: block;
			height: 2px;
			left: 0;
			margin-top: -1px;
			position: absolute;
			top: 50%;
			transform: rotate(-10deg);
			width: 100%;
		}
	}

	&--free {
		color: $red;
		font-weight: 600 !important;
	}
}

.woocommerce-coupons-section,
.woocommerce-gift-card-section {
	.close-notice,
	.woocommerce-error {
		display: none;
	}
}

.woocommerce ul#shipping_method li {
	margin: 0 !important;

	label {
		@include font-size(16);
		font-weight: 300;
	}
}

.allergeni-lista {
	position: relative;
	@include breakpoint(mobile) {
		text-align: left;
	}

	&--disclaimer {
		font-size: 12px !important;
		font-weight: bold !important;
		letter-spacing: 0 !important;
		line-height: 1.1 !important;
		margin: 0 0 4px !important;
	}

	&--label {
		cursor: pointer;
		font-size: 13px !important;
		letter-spacing: 0 !important;
		margin: 8px 0 4px !important;
		text-transform: none !important;

		span {
			@include transition(all 0.3s linear);
			@include font-size(16);
			display: inline-block;
			left: -2px;
			position: relative;
			top: 3px;
		}

		&.active {
			span {
				@include transform(rotate(180deg));
			}
		}
	}

	&--box {
		display: none;
		font-size: 11px !important;
		letter-spacing: 0 !important;
		line-height: 1.2;
		text-transform: none !important;
		@include breakpoint(desktop) {
			background: #fff;
			border: 1px solid #ddd;
			left: -8px;
			padding: 8px;
			position: absolute;
			width: 320px;
			z-index: 10;
		}
	}
}

body.woocommerce-cart {
	.ywgc_enter_code,
	.ywgc_have_code {
		display: none;
	}
}

body.woocommerce-checkout {
	@include breakpoint(mobile) {
		background: $white;
	}
}
body.woocommerce-checkout .woocommerce-form-login,
.woocommerce-account-fields,
.woocommerce-billing-fields,
.woocommerce-border-form,
.woocommerce-checkout-payment,
.woocommerce-coupons-section,
body.woocommerce-checkout .woocommerce-gift-card-section {
	background: $white;
	padding: 24px 0;
	@include breakpoint(desktop) {
		@include border-radius(16px);
		padding: 24px;
		margin-bottom: 32px;
	}

	.shipping_address {
		margin-top: 32px;
	}

	&.w-bottom {
		@include border-radius(16px 16px 0 0);
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	&.w-top {
		@include border-radius(0 0 16px 16px);
		border-top: none;
		padding-top: 2px;
		margin-top: -16px;
	}

	.woocommerce-border-form--info {
		@include font-size(16);
		margin-bottom: 32px;
	}
}

body.woocommerce-checkout .woocommerce-form-login {
	border: none;
	margin-top: 4px;
}

body.woocommerce-checkout .woocommerce-form-login p:not(.form-row) {
	margin-bottom: 24px;
}

.woocommerce-coupons-section {
	@include border-radius(16px 16px 0 0);
	margin-bottom: 0;
	padding-bottom: 8px;
	border-bottom: none;
}

body.woocommerce-checkout .woocommerce-gift-card-section {
	@include border-radius(0 0 16px 16px);
	padding-top: 8px;
	border-top: none;
}

.checkout-payment-cards {
	span {
		@include font-size(14);
		text-align: center;
		display: block;
	}

	img {
		width: 100%;
		display: block;
		margin-top: 8px;
	}
}

.sommair--totals--flex .gift-car-number,
.sommair--totals--flex .woocommerce-remove-coupon,
.sommair--totals--flex .ywgc-remove-gift-card {
	display: block;
	font-size: 12px;
	text-transform: none;
	letter-spacing: 1px;
}

.sommair--totals--flex .gift-car-number {
	text-transform: uppercase;
}

#shipping_method input[type=radio] {
	display: none;
}

.woocommerce {
	.wpmc-steps-wrapper {
		.woocommerce-coupons-section {
			display: none;
		}
	}

	.wpmc-nav-wrapper,
	.wpmc-steps-wrapper,
	.wpmc-tabs-wrapper {
		max-width: 500px;
		margin: 0 auto;
	}
#order_review_heading,
	#payment_heading {
		display: none;
	}

	.wpmc-nav-wrapper {
		display: block;
		text-align: center;
		//margin-top: -24px;
		margin-bottom: 40px;

		#wpmc-prev {
			@include font-size(16);
			background: transparent;
			color: $blue;
			font-weight: 300;
		}

		#wpmc-next {
			@include button();
			@include buttonprimary();
		}

	}

	.wpmc-step-item {
		.woocommerce-coupons-section {
			display: block;
		}

		#payment,
		.woocommerce-account-fields,
		.woocommerce-billing-fields,
		.woocommerce-border-form,
		.woocommerce-checkout-payment,
		.woocommerce-coupons-section,
		.woocommerce-coupons-section,
		body.woocommerce-checkout .woocommerce-gift-card-section {
			// background: transparent !important;
			// padding: 8px 0;
			// border-radius: 0;
		}

		.shipping_address {
			margin-top: 0;
		}

		#ship-to-different-address {
			display: none;
		}

		.form-row-first,
		.form-row-last {
			float: none !important;
			width: 100% !important;
		}

		.form-row {
			margin: 8px 0 !important;

			.input-text,
			select {
				//background: $white;
			}
		}

		.woocommerce-checkout-review-order {
			position: relative;
			top: 0;
		}

		.selection .select2-selection--single {
			//background: $white !important;
		}
	}
}

.woocommerce-additional-fields {
	display: none;
}
.form-row {
	&#shipping_scala_field,
	&#billing_phone_field,
	&#billing_country_field {
		border-top: 1px solid $panna;
		padding-top: 12px !important;
	}
}


.wpmc-tabs-wrapper .wpmc-tab-text {
	text-transform: none;
}
