/* stylelint-disable */
.product-type-gift-card {
	.woocommerce-product-gallery {
		display: none !important;
	}

	.summary {
		width: 100% !important;
		padding: 40px 20px 0;
		float: none !important;
		margin-bottom: 0;

		.product_title,
		.woocommerce-product-details__short-description {
			display: none !important;
		}
	}
}

.gift-card-page {
	height: auto;
	overflow: hidden;
	margin: 0;
	padding-bottom: 40px;
	@include breakpoint(desktop) {
		height: calc(100vh - 90px);
		overflow: auto;
		display: flex;
		align-items: center;
		padding-bottom: 0;
	}
	@include breakpoint(mobile) {
		min-height: calc(100vh - 80px);

		.hero--title {
			margin-top: 50px;
			@include font-size(38);
		}

		.posh-button {
			@include font-size(14);
		}
	}

	.all-categories {
		display: none;
	}

	.hero--title {
		@include breakpoint(desktop) {
			@include font-size(50);
		}
	}

	.hero--subtitle {
		max-width: 500px;
		@include breakpoint(desktop) {
			@include font-size(22);
		}
		@include breakpoint(mobile) {
			@include font-size(20);
			margin-bottom: 24px;
		}
	}

	&--image {
		width: 450px;
		margin-bottom: 32px;
		margin-top: 32px;
		display: none;
		@include breakpoint(desktop) {
			margin-bottom: 0;
			display: block;
		}
	}

	&--hero {
		padding: 0 20px;
		text-align: center;
		@include breakpoint(desktop) {
			padding: 0 0 0 160px;
			width: 48%;
			text-align: left;
		}
	}

	&--form {
		@include breakpoint(desktop) {
			width: 52%;
			text-align: center;
			position: relative;
			display: flex;
		}
	}

	&--flex {
		width: 100%;
		@include breakpoint(desktop) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}

.gift_card_template_button {
	margin-top: 16px!important;
	margin-bottom: 8px;

	.quantity {
		display: none;
	}

	.button.gift_card_add_to_cart_button {
		@include button();
		@include buttonprimary();
	}
}

.gift_card_template_button {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.git-form-row {
	margin: 24px 0;
}
@keyframes heartbeat {
	0% {
		transform: translate(-50%, -50%) scale(1);
	}

	25% {
		transform: translate(-50%, -50%) scale(1);
	}

	30% {
		transform: translate(-50%, -50%) scale(1.2);
	}

	50% {
		transform: translate(-50%, -50%) scale(1.4);
	}

	70% {
		transform: translate(-50%, -50%) scale(1.2);
	}

	100% {
		transform: translate(-50%, -50%) scale(1);
	}
}

.gift-cards_form {
	@include border-radius(16px);
	background: #fff;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
	margin: 0 20px;
	padding: 16px 20px;
	position: relative;
	@include breakpoint(desktop) {
		margin: 0 auto;
		max-width: 80%;
		padding: 30px 40px 16px;
		width: 550px;
	}

	label {
		@include label();
		margin-top: 0 !important;
		text-align: left;
	}

	& > h3 {
		display: none;
	}
}

.gift-cards-list {
	h3 {
		@include label();
		display: none;
	}

	button.ywgc-amount-buttons {
		@include transition(all 0.3s ease);
		@include border-radius(25px);
		@include font-size(22);
		background: $background;
		border: none;
		padding: 6px 16px;
		width: 24%;
		cursor: pointer;
		margin-bottom: 0;
		font-weight: 300;

		&.selected_button {
			background: $primary;
		}

		&.selected_button,
		&:hover {
			@include transform(rotate(-2deg));
			background: $primary;
			color: $white;

			svg {
				fill: $white;
			}
		}

		&:nth-child(even) {
			&.selected_button,
			&:hover {
				@include transform(rotate(2deg));
			}
		}
	}
}

.gift-card-content-editor {
	&.step-content {
		input::placeholder {
			font-size: 12px;
		}

		input::placeholder,
		textarea::placeholder {
			color: transparent !important;
		}

		input {
			@include input();
			@include font-size(16);
			float: none;
			height: 60px;
			padding-top: 14px;
			width: 100%;
			margin: 0;
		}

		textarea {
			@include input();
			@include font-size(16);
			float: none;
			height: 80px;
			line-height: 1.2;
			padding: 25px 10px 10px;
			resize: vertical;
			width: 100%;
		}
	}

	.ywgc-sender-info-title,
	.ywgc_recipient_info_title,
	h5 {
		@include label();
		margin: 24px 0 8px !important;
	}

	.ywgc-message,
	.ywgc-postdated,
	.ywgc-recipient-email,
	.ywgc-recipient-name,
	.ywgc-sender-name {
		position: relative;

		label {
			@include transition(all 0.2s linear);
			@include vertical-align();
			@include font-size(16);
			color: #999;
			left: 11px;
			pointer-events: none;
			position: absolute;
			text-align: left;
			z-index: 1;

			&.move {
				@include font-size(12);
				color: #999;
				top: 20px;
			}
		}
	}
}

.ui-datepicker {
	background: $blue;
	border: 1px solid #fff;
	box-shadow: 0 5px 5px 0 rgb(0,0,0,0.15);

	.ui-datepicker-title {
		@include font-size(14);
		color: $black;
		font-family: $font-body;
		font-weight: 300;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	th {
		@include font-size(12);
		color: $black;
		font-family: $font-body;
		font-weight: 300;
		text-transform: uppercase;
	}
}

.ui-widget-header {
	background: #fff;
	border: none;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
	@include font-size(14);
	background: $white;
	border: none;
	border-radius: 4px;
	color: $black;
	font-family: $font-body;
	font-weight: 300;
	padding: 0.5em;

	&.ui-state-active,
	&.ui-state-hover {
		background: $green;
		color: #fff;
	}
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
	top: 0;

	&.ui-state-hover {
		background: #f1f1f1;
		border: none;
	}

	span {
		background: none;
		background: none;
		font-family: 'icomoon' !important;
		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		line-height: 1;
		speak: none;
		text-indent: 0;
		text-transform: none;
	}
}

.ui-datepicker .ui-datepicker-prev span::before {
	content: "\e903";
}

.ui-datepicker .ui-datepicker-next span::before {
	content: "\e904";
}

#ywgc-choose-design-preview {
	display: none;
}
