/* stylelint-disable */
.how-works {
	text-align: center;
	padding: 0 0 120px;
	max-width: 1024px;
	margin: 0 auto;

	&--flex {
		display: flex;
		flex-wrap: wrap;
	}

	&--item {
		width: 100%;
		padding: 24px;
		@include breakpoint(desktop) {
			width: 33.333%;
			padding: 24px;
		}

		&--title {
			@include font-size(38);
			font-family: $font-title;
			font-style: normal;
			font-weight: 900;

			span {
				font-weight: 300;
				color: $blue;
				margin-right: 6px;
			}
		}

		&--subtitle {
			@include font-size(20);
		}
	}
}

.sec-home {
	position: relative;

	&.no-line {
		&:before {
			content: none;
		}
	}

	&:before {
		content: '';
		display: block;
		width: 2px;
		height: 160px;
		background: $black;
		@include horizontal-align();
		position: absolute;
		top: -80px;
		z-index: 3;
		@include breakpoint(mobile) {
			height: 80px;
			top: -40px;
		}
	}

	&.line-white:before {
		background: $white;
	}

	&.line-orange:before {
		background: $orange;
	}

	&.bg-black {
		background: $black;
		color: $panna;
	}

	&.bg-green {
		background: $primary;
	}

	&.bg-beige {
		background: $beige;
	}

	&.bg-brown {
		background: $brown;
		color: $panna;
	}

	&.bg-panna {
		background: $panna;
	}

	&.bg-orange {
		background: $orange;
		color: $panna;
	}

	&--minititle {
		text-align: center;
		padding-top: 140px;
		margin-bottom: -60px;
		@include breakpoint(container) {
			padding-top: 120px;
		}

		h3 {
			@include font-size(16);
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}

	&--text {
		text-align: center;
		padding: 30px 60px;
		@include breakpoint(container) {
			padding: 30px;
		}

		&.pseudo-list {
			margin: 0 auto;
			text-align: left;
			padding: 140px 0;
			text-align: center;
			@include breakpoint(container) {
				padding: 120px 0;
			}

			span {
				font-family: $font-title;
				font-weight: 900;
				line-height: 1.1;
				@include font-size(34);

				&:before {
					content: '/';
					color: $white;
					padding: 0 8px;
				}

				&:first-of-type {
					&:before {
						content: none;
					}
				}
			}
		}

		&.list {
			max-width: 540px;
			margin: 0 auto;
			text-align: left;
			padding: 140px 0;
			@include breakpoint(container) {
				padding: 120px 0;
			}

			h4 {
				display: block;
				font-family: $font-title;
				font-weight: 900;
				line-height: 1.1;
				@include font-size(34);
				padding: 8px 0 8px 38px;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 25px;
					height: 2px;
					width: 28px;
					background: $black;
				}
				@include breakpoint(container) {
					@include font-size(32);
				}

				a {
					display: block;

					&:hover {
						color: $blue;
					}
				}
			}
		}
	}

	&--btn {
		margin-top: 50px;
		@include breakpoint(container) {
			margin-top: 32px;
		}
	}

	&--title {
		font-family: $font-title;
		font-weight: 900;
		line-height: 1.1;

		.number {}

		&.big {
			@include font-size(45);
			line-height: 1.1;
			@include breakpoint(container) {
				@include font-size(40);
			}

			.number {
				@include font-size(55);
				@include breakpoint(container) {
					@include font-size(50);
				}
			}
		}

		&.medium {
			@include font-size(40);
			line-height: 1.1;
			@include breakpoint(container) {
				@include font-size(32);
			}

			.number {
				@include font-size(50);
				@include breakpoint(container) {
					@include font-size(42);
				}
			}
		}
	}

	&--subtitle {
		@include font-size(22);
		line-height: 1.2;
		margin-top: 24px;
		font-weight: 400;
	}

	&--rounded {
		position: relative;
		content: '';
		width: 300px;
		margin: 0 auto;

		&--floating {
			width: 300px;
			display: block;
			position: absolute;
			z-index: 2;
			left: 0;
			bottom: 0;
		}

		&--img {
			width: 300px;
			@include border-radius(150px 150px 0 0);
		}
	}
}

.sec-framed {
	&--intro {
		text-align: center;
		max-width: 800px;
		margin: 0 auto;
		padding: 40px 0 80px;
		@include breakpoint(desktop) {
			padding: 80px 0 140px;
		}
	}

	&--title {
		margin-top: 24px;
	}
}

.sec-product-description {
	padding: 180px 0;
	@include breakpoint(container) {
		padding: 140px 0;
	}
	@include breakpoint(mobile) {
		padding: 50px 0;
	}

	h2,
	h3,
	h4 {
		font-family: $font-title;
		line-height: 1.1;
		font-weight: 900;
		margin: 32px 0 24px;
	}

	h2 {
		@include font-size(32);
		@include breakpoint(desktop) {
			@include font-size(40);
		}
	}

	h3 {
		@include font-size(28);
		@include breakpoint(desktop) {
			@include font-size(32);
		}
	}

	h4 {
		@include font-size(26);
		@include breakpoint(desktop) {
			@include font-size(28);
		}
	}

	p {
		@include font-size(18);
		margin: 16px 0;
		@include breakpoint(desktop) {
			@include font-size(22);
		}
	}
}

.sec-wide {
	padding: 260px 150px;
	@include breakpoint(container) {
		padding: 220px 0 120px;
	}
	@include breakpoint(mobile) {
		padding: 80px 0;
	}

	&--content {
		text-align: center;
	}

	&--text {
		@include font-size(30);
		font-family: $font-title;
		line-height: 1.2;
		@include breakpoint(desktop) {
			@include font-size(40);
		}
	}

	&--btn {
		margin-top: 60px;
	}
}

.sec-image {
	@include clearfix();

	&--content {
		content: '';
		width: 100%;
		height: 60vh;
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;
	}

	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.sec-half {
	padding: 120px 0;
	@include breakpoint(container) {
		padding: 60px 0;
	}

	&--flex {
		display: flex;
		align-items: center;
		justify-content: center;
		@include breakpoint(mobile) {
			flex-wrap: wrap;
		}

		& > div {
			max-width: 50%;
			margin: 0 30px;
			@include breakpoint(container) {
				margin: 0 20px;
			}
			@include breakpoint(mobile) {
				width: 100%;
			}
		}
	}

	.sec-home--text {
		max-width: 540px;
		margin: 0 auto;
		@include breakpoint(container) {
			max-width: 380px;
		}
	}
}

.sec-three {
	&--flex {
		display: flex;
		align-items: center;
		@include breakpoint(mobile) {
			flex-wrap: wrap;
		}

		& > div {
			width: 33.333%;
			@include breakpoint(mobile) {
				width: 100%;

				&.sec-three--center {
					padding: 24px 20px 90px;
					order: 3;
				}

				&.sec-three--sx {
					order: 1;
					width: 50%;
				}

				&.sec-three--dx {
					order: 2;
					width: 50%;
				}
			}
		}
	}
}

.all-categories {
	padding-bottom: 80px;
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 20px;
	@include breakpoint(mobile) {
		overflow: auto;
		white-space: nowrap;
		padding-bottom: 10px;
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
		&::-webkit-scrollbar {
			display: none;
		}
	}

	&--list {
		text-align: center;
		list-style: none;
		@include breakpoint(desktop) {
			display: flex;
			justify-content: space-between;
		}

		li {
			display: inline-block;
			margin: 3px 2px;
			@include breakpoint(mobile) {
				min-width: 100px;

				&:last-of-type {
					margin-right: 20px;
				}
			}
			@include breakpoint(desktop) {
				min-width: 11.5%;
				margin: 2px;

				&:first-of-type {
					margin-left: 0;
				}

				&:last-of-type {
					margin-right: 0;
				}
			}

			a {
				@include transition(all 0.3s ease);
				@include font-size(14);
				@include border-radius(4px);
				background: $white;
				color: $orange;
				padding: 6px 8px;
				line-height: 1.1;
				text-align: center;
				display: block;
				box-shadow: 0 5px 5px 0 rgb(0 0 0 / 3%);
				@include breakpoint(desktop) {
					@include font-size(16);
				}

				svg {
					@include transition(all 0.3s ease);
					display: block;
					width: 30px;
					fill: $orange;
					margin: 0 auto 4px;
					@include breakpoint(desktop) {
						width: 36px;
					}
				}

				&.current,
				&:hover {
					background: $orange;
					color: $white;
					box-shadow: 0 5px 5px 0 rgb(0 0 0 / 5%);
					@include breakpoint(desktop) {
						@include transform(rotate(-2deg));
					}

					svg {
						fill: $white;
					}
				}
			}
			@include breakpoint(desktop) {
				&:nth-child(even) {
					a {
						&.current,
						&:hover {
							@include transform(rotate(2deg));
						}
					}
				}
			}
		}
	}
}

.sospesa {
	padding: 80px 0;

	&--images {
		display: flex;
		align-items: center;
		justify-content: center;

		&--small {
			@include border-radius(200px 200px 0 0);
			width: 15%;
			margin-left: -50px;
			overflow: hidden;
			box-shadow: 0 5px 5px 0 rgb(0 0 0 / 15%);
			animation-name: floating;
			animation-duration: 3s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
		}

		&--big {
			width: 40%;
			margin-right: -30px;
		}
	}
}

.negozio-home {
	&--flex {
		display: flex;
	}

	&--sx {
		width: 40%;
	}

	&--dx {
		width: 60%;
		padding: 12px;
	}

	.product-box {
		display: flex;
		flex-wrap: wrap;

		&--link {
			width: 100%;
			@include breakpoint(desktop) {
				order: 2;
				width: 50%;
			}
		}

		&--text {
			width: 100%;
			@include breakpoint(desktop) {
				order: 1;
				width: 50%;
				padding: 24px 40px;
				text-align: left;
			}
		}
	}
}

.big-search {
	max-width: 1240px;
	padding: 0 20px;
	margin: 16px auto;

	&--content {
		@include border-radius(6px);
		background: $orange;
		box-shadow: 0 5px 5px 0 rgb(0 0 0 / 5%);
		padding: 24px 16px;
		text-align: left;
		@include breakpoint(desktop) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 32px;
		}
	}

	&--text {
		text-align: left;
		@include breakpoint(desktop) {
			width: calc(100% - 440px);
			padding-right: 60px;
		}
	}

	&--title {
		@include font-size(32);
		font-family: $font-title;
		font-weight: 900;
		color: $white;
		line-height: 1.1;
		@include breakpoint(mobile) {
			margin-bottom: 16px;
		}
	}

	&--h1 {
		@include font-size(16);
		font-weight: 400;
		color: $white;
		line-height: 1.1;
		margin-bottom: 8px;
		@include breakpoint(desktop) {
			margin-bottom: 16px;
		}
	}

	.search-form .input-search input[type=text] {
		max-width: 100%;
		@include font-size(18);
		line-height: 50px;
		height: 50px;
		@include breakpoint(desktop) {
			width: 500px;
			max-width: 100%;
			@include font-size(20);
			line-height: 64px;
			height: 64px;
		}
	}
}
