/* stylelint-disable */
.how-works {
	text-align: center;
	padding: 0 0 120px;
	max-width: 1024px;
	margin: 0 auto;

	&--flex {
		display: flex;
		flex-wrap: wrap;
	}

	&--item {
		width: 100%;
		padding: 24px;
		@include breakpoint(desktop) {
			width: 33.333%;
			padding: 24px;
		}

		&--title {
			@include font-size(32);
			//font-family: $font-title;
			font-style: normal;
			font-weight: 900;
			line-height: 1;
			margin-bottom: 16px;

			span {
				font-weight: 300;
				color: $blue;
				margin-right: 6px;
			}
		}

		&--subtitle {
			@include font-size(20);
			font-weight: 400;
		}
	}
}

.sec-home {
	position: relative;

	&.bg-black {
		background: $black;
		color: $panna;
	}

	&.bg-green {
		background: $primary;
	}

	&.bg-beige {
		background: $beige;
	}

	&.bg-brown {
		background: $brown;
		color: $panna;
	}

	&.bg-panna {
		background: $panna;
	}

	&.bg-orange {
		background: $orange;
		color: $panna;
	}

	&--minititle {
		text-align: center;
		padding-top: 140px;
		margin-bottom: -60px;
		@include breakpoint(container) {
			padding-top: 120px;
		}

		h3 {
			@include font-size(16);
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}

	&--text {
		text-align: center;
		padding: 30px 60px;
		@include breakpoint(container) {
			padding: 30px;
		}

		&.pseudo-list {
			margin: 0 auto;
			text-align: left;
			padding: 140px 0;
			text-align: center;
			color: $panna;
			@include breakpoint(container) {
				padding: 120px 0;
			}

			span {
				font-family: $font-title;
				font-weight: 900;
				line-height: 1.1;
				@include font-size(34);

				&:before {
					content: '/';
					color: $white;
					padding: 0 8px;
				}

				&:first-of-type {
					&:before {
						content: none;
					}
				}
			}
		}

		&.list {
			max-width: 540px;
			margin: 0 auto;
			text-align: left;
			padding: 140px 0;
			@include breakpoint(container) {
				padding: 120px 0;
			}

			h4 {
				display: block;
				font-family: $font-title;
				font-weight: 900;
				line-height: 1.1;
				@include font-size(34);
				padding: 8px 0 8px 38px;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 25px;
					height: 2px;
					width: 28px;
					background: $black;
				}
				@include breakpoint(container) {
					@include font-size(32);
				}

				a {
					display: block;

					&:hover {
						color: $blue;
					}
				}
			}
		}
	}

	&--btn {
		margin-top: 50px;
		@include breakpoint(container) {
			margin-top: 32px;
		}
	}

	&--title {
		font-family: $font-title;
		font-weight: 900;
		line-height: 1.1;

		.number {}

		&.big {
			@include font-size(45);
			line-height: 1.1;
			@include breakpoint(container) {
				@include font-size(40);
			}

			.number {
				@include font-size(55);
				@include breakpoint(container) {
					@include font-size(50);
				}
			}
		}

		&.medium {
			@include font-size(40);
			line-height: 1.1;
			@include breakpoint(container) {
				@include font-size(32);
			}

			.number {
				@include font-size(50);
				@include breakpoint(container) {
					@include font-size(42);
				}
			}
		}
	}

	&--subtitle {
		@include font-size(22);
		line-height: 1.2;
		margin-top: 24px;
		font-weight: 400;
	}

	&--rounded {
		position: relative;
		content: '';
		width: 300px;
		margin: 0 auto;

		&--floating {
			width: 300px;
			display: block;
			position: absolute;
			z-index: 2;
			left: 0;
			bottom: 0;
		}

		&--img {
			width: 300px;
			@include border-radius(150px 150px 0 0);
		}
	}
}

.sec-framed {
	&--intro {
		text-align: center;
		max-width: 800px;
		margin: 0 auto;
		padding: 40px 0 80px;
		@include breakpoint(desktop) {
			padding: 80px 0 140px;
		}
	}

	&--title {
		margin-top: 24px;
	}
}

.sec-product-description {
	padding: 180px 0;
	@include breakpoint(container) {
		padding: 140px 0;
	}
	@include breakpoint(mobile) {
		padding: 50px 0;
	}

	strong {
		font-weight: 600;
	}

	blockquote {
		padding: 32px 0 32px 24px;
		@include breakpoint(desktop) {
			padding: 40px 60px 40px 120px;
		}

		p {
			@include font-size(28);
			font-family: $font-title;
			line-height: 1.1;
			font-style: italic;
			font-weight: 900;
			position: relative;
			@include breakpoint(desktop) {
				@include font-size(32);
			}

			&:before {
				@include font-size(50);
				content: '"';
				color: $orange;
				position: absolute;
				top: -20px;
				left: -30px;
				@include breakpoint(desktop) {
					@include font-size(70);
					top: -30px;
					left: -50px;
				}
			}
		}
	}

	h2,
	h3,
	h4,
	h5 {
		font-family: $font-title;
		line-height: 1.1;
		font-weight: 900;
		margin: 32px 0 24px;
	}

	h2 {
		@include font-size(32);
		@include breakpoint(desktop) {
			@include font-size(40);
		}
	}

	h3 {
		@include font-size(28);
		@include breakpoint(desktop) {
			@include font-size(32);
		}
	}

	h4 {
		@include font-size(26);
		@include breakpoint(desktop) {
			@include font-size(28);
		}
	}

	h5 {
		@include font-size(22);
		@include breakpoint(desktop) {
			@include font-size(24);
		}
	}

	p {
		@include font-size(16);
		margin: 16px 0;
		line-height: 1.3;
		@include breakpoint(desktop) {
			@include font-size(20);
		}
	}

	ol,
	ul {
		margin: 24px 0;
		padding-left: 24px;

		li {
			@include font-size(16);
			line-height: 1.5;
			position: relative;
			padding-left: 16px;
			margin: 8px 0;
			@include breakpoint(desktop) {
				@include font-size(20);
			}

			&:before {
				@include border-radius(50%);
				background: $green;
				content: '';
				display: inline-block;
				height: 8px;
				width: 8px;
				position: absolute;
				top: 11px;
				left: 0;
			}
		}
	}
}

.sec-wide {
	padding: 200px 150px 80px;
	@include breakpoint(container) {
		padding: 200px 0 80px;
	}
	@include breakpoint(mobile) {
		padding: 80px 0;
	}

	&--content {
		text-align: center;
	}

	&--text {
		@include font-size(30);
		font-family: $font-title;
		line-height: 1.2;
		@include breakpoint(desktop) {
			@include font-size(40);
		}
	}

	&--title {
		@include font-size(46);
		font-family: $font-title;
		line-height: 1;
		font-weight: 900;
		@include breakpoint(desktop) {
			@include font-size(80);
			margin-bottom: 40px;
		}

		.number {
			@include font-size(50);
			@include breakpoint(desktop) {
				@include font-size(120);
			}
		}
	}

	&--btn {
		margin-top: 60px;
	}
}

.sec-image {
	@include clearfix();

	&--content {
		content: '';
		width: 100%;
		height: 60vh;
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;
	}

	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.sec-half {
	padding: 120px 0;
	@include breakpoint(container) {
		padding: 60px 0;
	}

	&--flex {
		display: flex;
		align-items: center;
		justify-content: center;
		@include breakpoint(mobile) {
			flex-wrap: wrap;
		}

		& > div {
			max-width: 50%;
			margin: 0 30px;
			@include breakpoint(container) {
				margin: 0 20px;
			}
			@include breakpoint(mobile) {
				width: 100%;
				max-width: 100%;
			}
		}
	}

	.sec-home--text {
		max-width: 540px;
		margin: 0 auto;
		@include breakpoint(container) {
			max-width: 380px;
		}
	}
}

.sec-three {
	&--flex {
		display: flex;
		@include breakpoint(mobile) {
			flex-wrap: wrap;
		}

		& > div {
			width: 33.333%;
			direction: flex;
			align-items: center;
			background-repeat: no-repeat;
			background-position: center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			padding: 250px 0;
			@include breakpoint(mobile) {
				width: 100%;
				padding: 0;

				&.sec-three--center {
					padding: 24px 20px 90px;
					order: 3;
				}

				&.sec-three--sx {
					order: 1;
					width: 50%;
					height: 300px;
				}

				&.sec-three--dx {
					order: 2;
					width: 50%;
					height: 300px;
				}
			}
		}
	}
}

.all-categories {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 120px;

	body.single-post &,
	body.single-product & {
		margin-bottom: 50px;
		@include breakpoint(mobile) {
			margin-bottom: 32px;
		}
	}
	@include breakpoint(container) {
		padding: 0 40px;
	}
	@include breakpoint(tablet) {
		padding: 0 20px;
	}
	@include breakpoint(mobile) {
		overflow: auto;
		white-space: nowrap;
		padding-bottom: 10px;
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
		&::-webkit-scrollbar {
			display: none;
		}
	}

	&--list {
		text-align: center;
		list-style: none;
		@include breakpoint(desktop) {
			display: flex;
			justify-content: flex-start;
			margin: 0 8px;
		}

		li {
			display: inline-block;
			padding: 3px 2px;
			@include breakpoint(mobile) {
				min-width: 100px !important;

				&:last-of-type {
					margin-right: 20px;
				}
			}
			@include breakpoint(desktop) {
				padding: 2px;

				&:first-of-type {
					padding-left: 0;
				}

				&:last-of-type {
					padding-right: 0;
				}
			}

			a {
				@include transition(all 0.3s ease);
				@include font-size(14);
				@include border-radius(4px);
				background: $white;
				color: $orange;
				padding: 6px 8px;
				line-height: 1.1;
				text-align: center;
				display: block;
				box-shadow: 0 3px 3px 0 rgb(0 0 0 / 3%);
				@include breakpoint(desktop) {
					@include font-size(16);

					&.big {
						@include font-size(14);
					}
				}

				svg {
					@include transition(all 0.3s ease);
					display: block;
					width: 30px;
					fill: $orange;
					margin: 0 auto 4px;
					@include breakpoint(desktop) {
						width: 36px;
					}
				}

				&.current {
					background: $orange;
					color: $white;
					box-shadow: 0 5px 5px 0 rgb(0 0 0 / 5%);
					border: 1px solid transparent;

					svg {
						fill: $white;
					}
				}

				&:hover {
					background: $orange;
					color: $white;
					box-shadow: 0 5px 5px 0 rgb(0 0 0 / 5%);
					@include breakpoint(desktop) {
						@include transform(rotate(-2deg));
					}

					svg {
						fill: $white;
					}
				}
			}
			@include breakpoint(desktop) {
				&:nth-child(even) {
					a {
						&:hover {
							@include transform(rotate(2deg));
						}
					}
				}
			}
		}
	}
}

.sospesa {
	padding: 80px 0;

	&--images {
		display: flex;
		align-items: center;
		justify-content: center;

		&--small {
			@include border-radius(200px 200px 0 0);
			width: 15%;
			margin-left: -50px;
			overflow: hidden;
			box-shadow: 0 5px 5px 0 rgb(0 0 0 / 15%);
			animation-name: floating;
			animation-duration: 3s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
		}

		&--big {
			width: 40%;
			margin-right: -30px;
		}
	}
}

.negozio-home {
	&--flex {
		display: flex;
	}

	&--sx {
		width: 40%;
	}

	&--dx {
		width: 60%;
		padding: 12px;
	}

	.product-box {
		display: flex;
		flex-wrap: wrap;

		&--link {
			width: 100%;
			@include breakpoint(desktop) {
				order: 2;
				width: 50%;
			}
		}

		&--text {
			width: 100%;
			@include breakpoint(desktop) {
				order: 1;
				width: 50%;
				padding: 24px 40px;
				text-align: left;
			}
		}
	}
}

.big-search {
	margin: 16px auto;
	padding: 0 120px;
	@include breakpoint(container) {
		padding: 0 40px;
	}
	@include breakpoint(tablet) {
		padding: 0 20px;
	}

	&--content {
		@include border-radius(32px 32px 8px 8px);
		background: $orange;
		box-shadow: 0 5px 5px 0 rgb(0 0 0 / 5%);
		padding: 24px 16px;
		text-align: left;
		@include breakpoint(desktop) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 32px;
			margin: 0 8px;
		}
	}

	&--text {
		text-align: left;
		@include breakpoint(desktop) {
			width: calc(100% - 440px);
			padding-right: 60px;
		}
	}

	&--title {
		@include font-size(32);
		//font-family: $font-title;
		font-weight: 600;
		color: $white;
		line-height: 1.1;
		letter-spacing: -0.5px;

		p {
			line-height: 1;
		}
		@include breakpoint(mobile) {
			margin-bottom: 16px;
		}
	}

	&--h1 {
		@include font-size(16);
		font-weight: 400;
		color: $white;
		line-height: 1.1;
		margin-bottom: 8px;
		@include breakpoint(desktop) {
			margin-bottom: 16px;
		}
	}

	.search-form .input-search input[type=text] {
		max-width: 100%;
		@include font-size(18);
		line-height: 50px;
		height: 50px;
		@include breakpoint(desktop) {
			width: 500px;
			max-width: 100%;
			@include font-size(20);
			line-height: 64px;
			height: 64px;
		}
	}
}

.sec-cards {
	padding: 80px 0;
	@include breakpoint(desktop) {
		padding: 120px 0;
	}

	&--flex {
		display: flex;
		flex-wrap: wrap;
	}

	&--item {
		@include border-radius(4px);
		margin: 8px 0;
		padding: 16px;
		background: $white;
		box-shadow: 0 5px 5px 0 rgb(0 0 0 / 3%);
		width: 100%;
		margin: 8px;
		@include breakpoint(desktop) {
			width: calc(33.333% - 16px);
			margin: 8px;

			&.wide {
				width: 100%;
				background: transparent;
				box-shadow: none;
			}
		}
	}
}

.producer-box {
	&--title {
		font-family: $font-title;
		@include font-size(22);
		font-weight: 900;
		line-height: 1.1;

		a {
			color: $black;

			&:hover {
				color: $blue;
			}
		}
	}

	&--city {
		@include font-size(16);
		color: $muted;
		margin-top: 8px;
	}

	&--categories {
		margin-top: 60px;

		a {
			@include font-size(14);
			margin-right: 16px;
			margin-top: 4px;

			&:after {
				bottom: -1px;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

.ingredient-box {
	padding: 0;
	margin: 32px 0;

	&--title {
		@include font-size(40);
		font-weight: 400;
		line-height: 1.1;
		margin-bottom: 16px;
	}

	&--descr,
	p {
		@include font-size(20);
		margin-top: 8px;
		font-weight: 300;
	}

	&--categories {
		margin-top: 60px;

		a {
			@include font-size(14);
			margin-right: 16px;
			margin-top: 4px;

			&:after {
				bottom: -1px;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

.agr-section {
	overflow: hidden;

	&--container {
		&.no-mg-top {
			padding-top: 0;
		}
	}

	&--wide {
		width: 100%;
		height: 100vh;

		&--flex {
			display: flex;
			@include breakpoint(tablet) {
				flex-wrap: wrap;
			}
		}

		.agr-section--image,
		.agr-section--text {
			@include border-radius(0);
			margin: 0;
		}

		.agr-section--text {
			@include breakpoint(desktop) {
				&:after {
					content: "";
					display: block;
					padding-bottom: 120%;
				}
			}
		}

		.agr-section--image {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;

			.img-bg {
				@include border-radius(24px);
				content: '';
				display: block;
				background-repeat: no-repeat;
				background-position: center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;

				&:after {
					content: "";
					display: block;
					padding-bottom: 100%;
				}
				width: 500px;
				@include breakpoint(container) {
					width: 400px;
				}
				@include breakpoint(tablet) {
					width: 60%;
					margin-top: 40px;
				}
			}

			.mini-img {
				@include border-radius(50%);
				width: 180px;
				box-shadow: 0 5px 5px 0 rgb(0 0 0 / 15%);
				animation-name: floating;
				animation-duration: 8s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
				position: absolute;
				z-index: 2;
				top: 20%;
				right: 100px;
				@include breakpoint(container) {
					width: 120px;
					right: 80px;
				}
				@include breakpoint(tablet) {
					width: 80px;
					top: auto;
					right: 30px;
					bottom: 5%;
				}
			}
		}
	}

	&--flex {
		display: flex;
		@include breakpoint(tablet) {
			flex-wrap: wrap;
		}
	}

	&--image,
	&--text {
		width: 100%;
		@include breakpoint(medium) {
			width: 50%;
		}
	}

	&--image {
		overflow: hidden;
		@include breakpoint(tablet) {
			order: 1;
			margin-bottom: 0;
		}

		.main-img {
			display: block;
		}

		.img-bg-column {
			content: '';
			display: block;
			width: 100%;
			background-repeat: no-repeat;
			background-position: center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;

			&:after {
				content: "";
				display: block;
				padding-bottom: 100%;
			}
		}
	}

	&--text {
		text-align: center;
		@include breakpoint(tablet) {
			order: 2;
			padding: 0 20px;
			margin-top: 0;
		}
		@include breakpoint(medium) {
			text-align: left;
			padding: 0 120px;
			display: flex;
			align-items: center;
			position: relative;
			z-index: 2;

			&:after {
				content: "";
				display: block;
				padding-bottom: 100%;
			}
		}
		@include breakpoint(container) {
			padding: 0 60px;
		}
		@include breakpoint(mobile) {
			padding: 40px 32px;
		}
	}

	&--title {
		margin: 0 0 24px;
		position: relative;
		@include breakpoint(mobile) {
			margin: 0 0 16px;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			@include font-size(42);
			font-weight: 900;
			line-height: 1;
			margin-top: 16px;
			@include breakpoint(desktop) {
				@include font-size(80);
				margin: 0 0 24px;
			}
			@include breakpoint(container) {
				@include font-size(70);
			}
			@include breakpoint(mobile) {
				@include font-size(42);
			}
		}
	}

	.btn {
		margin-top: 32px;
	}

	&--subtitle {
		margin: 32px 0;
		@include breakpoint(desktop) {
			margin: 42px 0;
		}
	}

	&--subtitle,
	&--subtitle p {
		@include font-size(18);
		line-height: 1.3;
		margin: 16px 0;
		@include breakpoint(desktop) {
			@include font-size(24);
		}
	}
}
