/* stylelint-disable */
.categories-list {
	span {
		@include transition(all 0.2s linear);
		@include font-size(18);
		@include border-radius(0 16px 16px 16px);
		background: $primary;
		padding: 6px 16px;
		color: $blue;
		display: inline-block;
		margin: 16px 8px 0 0;

		&.first {
			@include border-radius(16px 16px 16px 0);
			margin-bottom: 24px;
			margin-right: 0;
		}
	}

	&.body-single-page {
		span {
			@include border-radius(16px 16px 16px 0);
			margin-bottom: 24px;
			background: $blue;
			color: $primary;
			@include breakpoint(mobile) {
				margin: 4px 0;
			}
		}
	}
}

.products-carousel {
	display: flex;
	width: 100%;
	@include breakpoint(desktop) {
		width: 60%;
	}

	.slick-next-agr,
	.slick-prev-agr {
		top: -50px;
	}
	.slick-next-agr {
		right: 0;
		left: 60px;
		&:hover {
			right: auto;
			left: 65px;
		}
	}

	&--container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 120px 0 60px;
		@include breakpoint(mobile) {
			flex-wrap: wrap;
			padding: 40px 0;
		}
	}

	&--intro {
		width: 100%;
		padding: 0 20px 32px;
		@include breakpoint(desktop) {
			width: 40%;
			padding-left: 200px;
			padding-right: 80px;
		}
	}

	&--title {
		@include font-size(50);
		font-weight: 900;
		font-family: $font-title;
		line-height: 1;
		@include breakpoint(mobile) {
			@include font-size(32);
			text-align: center;

		}
	}

	.product-box {
		margin: 0 12px;
	}
}

.product-box {
	padding: 32px;
	background: $beige;
	@include breakpoint(container) {
		padding: 24px;
	}

	&.text-box {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		background: transparent;
		padding: 60px 20px;
		@include breakpoint(mobile) {
			display: none !important;
		}

		h3 {
			@include font-size(40);
			font-family: $font-title;
			line-height: 1.1;
			color: $orange;
			font-weight: 900;
			@include breakpoint(container) {
				@include font-size(34);
			}
		}
	}

	&--link {
		display: block;
		overflow: hidden;

		img {
			@include transition(all 0.8s ease);
			display: block;
		}

		&:hover {
			img {
				transform: scale(1.3);
			}
		}
	}

	&--text {
		text-align: center;
		padding-top: 16px;
	}

	&--title {
		@include font-size(24);
		font-weight: 800;
	}

	&--price {
		&--flex {
			display: flex;
			align-items: baseline;
			justify-content: center;
			margin-top: -8px;

			.product-info--quantity {
				margin-right: 8px;
			}
		}

		del {
			text-decoration: none;
			position: relative;
			display: inline-block;

			&:before {
				content: '';
				display: block;
				width: 110%;
				height: 2px;
				background: $red;
				position: absolute;
				top: 50%;
				left: -5%;
				transform: rotate(-10deg);
			}
		}

		ins {
			text-decoration: none;
			color: $red;

			&.highlight {
				@include font-size(18);
			}
		}

		.woocommerce-Price {
			&-amount {
				@include font-size(24);
			}

			&-currencySymbol {
				@include font-size(18);
			}
		}
	}

	&--button {
		margin-top: 16px;
	}
}
