/* stylelint-disable */
.manifesto {
	&--hero {
		padding: 200px 130px;
		@include breakpoint(container) {
			padding: 120px 80px;
		}
		@include breakpoint(mobile) {
			padding: 60px 40px;
		}

		&--title {
			@include font-size(24);
			margin-bottom: 24px;
			color: $primary;
		}

		&--subtitle {
			@include font-size(60);
			font-family: $font-title;
			font-weight: 900;
			line-height: 1;
			@include breakpoint(container) {
				@include font-size(50);
			}
			@include breakpoint(mobile) {
				@include font-size(36);
			}

			br {
				@include breakpoint(container) {
					display: none;
				}
			}
		}
	}

	&--video {
		margin-bottom: -40px;
		position: relative;
		z-index: -1;
	}

	&--ritmi {
		&--flex {
			display: flex;
			position: relative;
			flex-wrap: wrap;
		}

		&--item {
			width: 50%;
			padding: 200px 130px;
			@include breakpoint(container) {
				padding: 120px 80px;
			}
			@include breakpoint(mobile) {
				width: 100%;
				padding: 60px 40px;
			}

			&.bg-brown {
				background: $brown;
				color: $panna;
			}

			&.bg-orange {
				background: $orange;
				color: $panna;
			}

			&--title {
				@include font-size(60);
				font-family: $font-title;
				font-weight: 900;
				line-height: 1;
				margin-bottom: 40px;
				@include breakpoint(container) {
					@include font-size(50);
				}
				@include breakpoint(mobile) {
					@include font-size(36);
				}
			}

			&--text {
				@include font-size(22);
				@include breakpoint(mobile) {
					@include font-size(18);
				}
			}
		}
	}
}
