/* stylelint-disable */
.single-article {
	margin: 0 auto 80px;
	max-width: 10240px;
}
.single {
	&--header {
		margin: 38px 0 28px;
		body.single-glossario & {
			margin-bottom: 32px;
		}

		h1 {
			@include font-size(40);
			font-weight: bold;
			line-height: 1.1;
		}
	}
	&--image {
		@include border-radius(32px);
		display: block;
		overflow: hidden;
		margin-bottom: 80px;
		position: relative;
		&:after {
			@include border-radius(50%);
			content: '';
			position: absolute;
			z-index: 2;
			right: 32px;
			bottom: 32px;
			width: 32px;
			height: 32px;
			background: $red;
		}
	}

	&--content {
		h1, h2, h3, h4, h5, h6 {
			font-weight: bold;
			line-height: 1.2;
			margin: 32px 0 16px;
		}
		h1 {
			@include font-size(32);
			line-height: 1.1;
		}

		h2 {
			@include font-size(24);
		}

		h3 {
			@include font-size(24);
		}

		h4 {
			@include font-size(22);
		}

		h5 {
			@include font-size(18);
		}

		h6 {
			@include font-size(16);
		}
		p {
			@include font-size(16);
			line-height: 1.5;
			margin: 24px 0;
		}
		img {
			@include border-radius(32px);
			display: block;
			margin: 24px 0;
		}
		ol, ul {
			margin: 24px 0;
			padding-left: 24px;
			li {
				@include font-size(16);
				line-height: 1.5;
				position: relative;
				padding-left: 16px;
				margin: 8px 0;
				&:before {
					@include border-radius(50%);
					background: $red;
					content: '';
					display: inline-block;
					height: 8px;
					width: 8px;
					position: absolute;
			    top: 5px;
			    left: 0;
				}
			}
		}
	}
}

.related {
	margin-bottom: 80px;
	&--flex {
		display: flex;
	  flex-wrap: wrap;
	}
	&--title {
		@include font-size(30);
		text-align: left;
		font-weight: bold;
		line-height: 1.2;
		margin: 0 0 40px;
		@include breakpoint(desktop) {
			@include font-size(40);
		}
		&.small {
			@include font-size(18);
			@include breakpoint(desktop) {
				@include font-size(24);
			}
		}
	}
}
