/* stylelint-disable */
.press {
  text-align: center;
  padding: 40px 0;

  &--title {
    @include font-size(16);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 24px;
  }

  &--item {
    text-align: center;
    padding: 16px;
  }

  &--link {
    display: block;
    text-align: center;
    cursor: pointer;

    &:hover {
      .press--logo {
        filter: grayscale(0%);
      }
    }
  }

  &--logo {
    @include transition(all 0.3s linear);
    display: block;
    margin: 0 auto;
    filter: grayscale(100%);
  }
}
