/* stylelint-disable */
.box-name {
	display: flex;
	margin-bottom: 40px;
	width: 100%;
	align-items: center;

	.box-image {
		height: 100px;
		margin: 0 24px 0 0;
		width: 100px;
	}

	.title {
		@include font-size(28);
		font-family: $font-title;
		font-weight: 900;
		margin: 0 0 24px;
		color: $black;
	}
}

.subscription-box {
	.container-flex-box {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.right-categories-box {
	width: 33.333%;
	@include breakpoint(mobile) {
		width: 100%;
		margin: 0 0 8px;
	}

	ul {
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 0;

		li {
			@include border-radius(16px);
			background: $background;
			padding: 8px 16px;

			&:first-child {
				margin-top: 0;
			}

			a {
				@include font-size(16);
				font-weight: 400;
				display: block;
				position: relative;
				padding-right: 26px;
			}

			&::before {
				display: none;
			}

			&.active {
				background: $primary;
				color: $white;

				a {
					&:after {
						@include icomoon();
						content: "\e904";
						@include font-size(24);
						position: absolute;
						top: 1px;
						right: 0;
					}
				}
			}
		}
	}
}

.products-box {
	@include border-radius(16px);
	background: $background;
	margin-left: 8px;
	padding: 16px;
	width: calc(33.333% - 16px);
	@include breakpoint(mobile) {
		width: 100%;
		margin: 0;
	}

	ul {
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 0;

		li {
			padding-left: 0;
			margin: 8px 0;

			&::before {
				display: none;
			}

			label {
				span.label {
					@include font-size(16);
					font-weight: 400;
				}
			}
		}
	}
}

.blacklist-box {
	@include border-radius(16px);
	background: $black;
	margin-left: 8px;
	padding: 16px;
	width: 33.333%;
	@include breakpoint(mobile) {
		width: 100%;
		margin: 32px 0 0;
	}

	h4 {
		@include font-size(26);
		color: $white;
		margin-top: 0;
		font-family: $font-title;
		font-weight: 900;
	}

	ul {
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 0;

		li {
			padding-left: 0;

			&::before {
				display: none;
			}
		}
	}
}

.blacklist-item {
	display: flex;
	width: 100%;

	span {
		@include font-size(16);
		font-weight: 400;
		color: $white;
	}

	.delete_item {
		margin-right: 8px;

		span {
			@include font-size(24);
			color: $red;
		}
	}
}

.checkbox-container {
	cursor: pointer;
	display: block;
	margin: 0;
	padding-left: 32px;
	position: relative;
	user-select: none;

	input {
		cursor: pointer;
		height: 0;
		opacity: 0;
		position: absolute;
		width: 0;

		&:checked ~ .checkmark::after {
			display: block;
		}
	}

	.checkmark {
		@include border-radius(4px);
		background-color: #fff;
		width: 24px;
		height: 24px;
		left: 0;
		position: absolute;
		top: 0;
		border: 1px solid $panna;

		&::after {
			content: "";
			display: none;
			position: absolute;
		}

		&::after {
			@include icomoon();
			content: "\e906";
			color: $primary;
			@include font-size(26);
			position: relative;
			top: -2px;
			left: -2px;
		}
	}

	&:hover input ~ .checkmark {
		border: 1px solid $primary;
	}
}
