/* stylelint-disable */
.product_title {
	@include font-size(34);
	font-weight: 900;
	display: inline-block;
	line-height: 1;
	@include breakpoint(desktop) {
		@include font-size(50);
	}
}

.woocommerce {
	div.product {
		p.price {
			color: $black;
			font-weight: 400;

			.woocommerce-Price {
				font-weight: 400;

				&-amount {
					@include font-size(24);
				}

				&-currencySymbol {
					@include font-size(18);
				}
			}
		}
	}
}

.pd-gallery-slider {
	margin-top: 8px;
	margin-left: -8px;
	margin-right: -8px;
	@include breakpoint(mobile) {
		margin-top: 4px;
		margin-left: -4px;
		margin-right: -4px;
		padding-bottom: 8px;
		margin-bottom: 42px !important;
	}

	&--item {
		@include breakpoint(mobile) {
			padding: 4px !important;
		}
	}

	.slick-next-agr,
	.slick-prev-agr {
		@include border-radius(50%);
		background: $white;
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: -16px;
	}

	.slick-prev-agr {
		left: 16px;
	}

	.slick-next-agr {
		right: 16px;
	}
}

.products-list {
	&--footer {
		margin-top: 16px;

		span {
			@include font-size(14);
			margin-right: 8px;
			@include breakpoint(desktop) {
				@include font-size(16);
			}
		}
	}

	&--header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 0 16px;
	}

	&--title {
		@include font-size(22);
		font-weight: 600;
	}

	&--separator {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: $background;
		margin: 32px 0;
	}
}

body.search-results,
body.tax-product_cat.archive {
	.negozio--flex {
		display: flex;
		align-items: flex-start;
		margin: 0 auto 40px;
		@include breakpoint(desktop) {
			padding: 0 128px;
		}
		@include breakpoint(container) {
			padding: 0 48px;
		}
		@include breakpoint(tablet) {
			padding: 0 20px;
		}

		.products-list-agr {
			order: 2;
			width: 100%;
			@include breakpoint(desktop) {
				width: 75%;
			}
		}

		.negozio-sidebar {
			order: 1;
			@include breakpoint(desktop) {
				width: 25%;
				margin-right: 40px;
			}
		}
	}
}

.negozio-sidebar {
	@include border-radius(8px);
	background: $panna;
	padding: 18px;
	position: sticky;
	top: 90px;
	@include breakpoint(mobile) {
		display: none;
	}

	&--list {
		li {
			&.cat-empty {
				display: none !important;
			}

			&.current-cat {
				& > a {
					color: $blue;
				}
			}
			// &.current-cat,
			// &.current-cat-ancestor,
			// &.current-cat-parent {
			// 	& > a {
			// 		font-weight: 600;
			// 	}
			//
			// 	& > ul.children {
			// 		display: block;
			// 		.cat-item {
			// 			display: block;
			// 		}
			// 	}
			//
			// 	& > a.i-have-kids {
			// 		&:before {
			// 			@include transform(rotate(180deg));
			// 		}
			// 	}
			// }
		}

		a {
			@include font-size(16);
			display: block;
			position: relative;
			line-height: 1.1;
			border-top: 1px solid $white;
			padding: 8px 20px 8px 8px;

			&.i-have-kids {
				&:before {
					@include transition(all 0.6s ease);
					@include icomoon();
					content: "\e903";
					@include font-size(26);
					position: absolute;
					display: inline-block;
					top: 4px;
					right: -4px;
				}
			}

			&:hover {
				color: $blue;
			}
		}

		& > li {
			display: block;

			&:first-child {
				& > a {
					border-top: none;
				}
			}

			& > a,
			a.opened {
				@include font-size(20);
				font-weight: 600;
				padding-top: 12px;
				padding-bottom: 12px;
			}

			a.opened {
				&:before {
					@include transform(rotate(180deg));
					top: 8px;
				}
			}

			a.first-item {
				padding-top: 12px;
				padding-bottom: 12px;

				&:before {
					top: 8px;
				}
			}

			a.opened.first-item {
				border-top: none !important;
			}

			ul.children {
				display: none;
			}
		}
	}
}

.products-navigation {
	margin-bottom: 12px;
	display: flex;
	align-items: flex-start;
	display: none;

	&--slider {
		.slick-slide {
			padding: 3px 4px;
		}
	}

	li {
		display: inline-block;
		margin: 0 4px 4px 0;
	}

	&--title {
		@include border-radius(6px);
		@include font-size(16);
		padding: 4px 12px;
		color: $muted;
		background: $background;
		font-weight: 600;
		margin-right: 4px;
		margin-top: 1px;

		&.alert {
			font-weight: 400;
			background: $red;
			color: $white;
		}
	}

	&--link {
		@include border-radius(6px);
		@include font-size(16);
		padding: 6px 12px;
		color: $blue;
		background: rgba($blue, 0.1);
		cursor: pointer;

		&:hover {
			background: rgba($blue, 0.2);
		}
	}
}

.woocommerce-products-header {
	margin-bottom: 24px;
	@include breakpoint(desktop) {
		margin-bottom: 50px;
	}
}

.added_to_cart,
.woocommerce-ordering,
.woocommerce-result-count {
	display: none !important;
}

body.tax-product_cat {
	.woocommerce-no-products-found {
		display: none;
	}
}

.shop {
	&--list {
		&.search-results {
			margin-top: 16px;
			@include breakpoint(desktop) {
				margin-top: 45px;
			}
		}

		&:first-of-type {
			.shop--minititle {
				margin-top: 0;
			}
		}

		&--header {
			display: flex;
			align-items: center;
			margin: 24px 0;
			justify-content: space-between;
			@include breakpoint(mobile) {
				justify-content: space-between;
			}

			.arrow-link {
				@include breakpoint(desktop) {
					margin-left: 24px;
				}
			}
		}
	}

	&--minititle {
		@include clearfix();
		@include font-size(20);
		color: $black;
		display: inline-block;
		font-weight: 600;
		position: relative;
		@include breakpoint(desktop) {
			@include font-size(22);
		}

		&::after {
			background: $black;
			bottom: -3px;
			content: '';
			display: block;
			height: 1px;
			left: 0;
			position: absolute;
			width: 100%;
		}
	}
}

.woocommerce {
	.woocommerce-breadcrumb {
		@include font-size(12);
		text-align: center;
		margin: 24px 0;
		text-transform: uppercase;
		letter-spacing: 2px;
		padding: 0 20px;
		@include breakpoint(mobile) {
			display: none;
		}

		a {
			display: inline-block;
			@include breakpoint(desktop) {
				&::after {
					@include transition(all 0.3s ease);
					background: $blue;
					content: '';
					display: block;
					height: 1px;
					width: 0;
				}

				&:hover {
					color: $blue;

					&::after {
						width: 100%;
					}
				}
			}
		}
	}

	ul.products {
		margin: 0 auto;
		padding: 0;
		display: block;

		li.product {
			float: none !important;
			width: 100% !important;
			display: flex;
			align-items: center;
			justify-content: space-between;
			//border-top: 2px solid $background;
			padding: 16px;
			background: $white;
			position: relative;
			//border: 1px solid #eaeae1;
			margin-bottom: 4px;
			box-shadow: 0 3px 3px 0 rgb(0 0 0 / 3%);

			.uom {
				display: none;
			}

			.product-loop-title-meta {
				.woocommerce-loop-product__title {
					margin-bottom: 0;
					padding: 0;
				}

				.product-info--quantity {
					@include font-size(16);
					color: $muted;
				}
			}

			&:first-of-type {
				border-top-left-radius: 16px;
				border-top-right-radius: 16px;
			}

			&:last-of-type {
				border-bottom-left-radius: 16px;
				border-bottom-right-radius: 16px;
			}
			@include breakpoint(desktop) {
				padding: 24px;
			}

			.yith-wcwl-add-to-wishlist {
				position: absolute;
				right: 20px;
				margin: 0;
				padding: 0;

				.add_to_wishlist,
				.delete_item {
					span {
						//display: none;
					}
				}
			}

			.button {
				@include button();
				@include buttonprimary();
				@include buttonsmall();
				margin: 0;
			}

			.onsale {
				@include font-size(10);
				top: 4px;
				padding: 6px 8px;
				left: 4px;
				right: auto;
				line-height: 1;
				min-height: 0;
				display: block;
				margin: 0;
				width: 50px;
				height: 50px;
				padding-top: 13px;
				@include breakpoint(mobile) {
					display: none;
				}

				span {
					@include font-size(14);
					display: block;
					width: 100%;
					line-height: 0.8;

					&.small {
						display: none;
					}
				}
			}

			a {
				@include breakpoint(desktop) {
					display: flex;
					align-items: flex-start;

					.product-loop-title-meta {
						width: 75%;
					}
				}

				img {
					width: 50px;
					margin: 0 12px 0 0;
					display: none;
					@include breakpoint(desktop) {
						display: block;
						width: 65px;
						margin: 0 24px 0 0;
					}
				}
			}

			.woocommerce-loop-product__title {
				@include font-size(18);
				margin: 0 16px 0 0;
				line-height: 1.1;
				font-weight: 600;
				padding-top: 0;
				@include breakpoint(desktop) {
					@include font-size(20);
					margin: 4px 24px 0 0;
				}
				@include breakpoint(mobile) {
					padding: 0;
					margin-bottom: 8px;
				}
			}

			.price {
				margin: 0;
				color: $black;
				@include breakpoint(desktop) {
					margin: 0 0 27px;
				}

				.woocommerce-Price {
					font-weight: 400;

					&-amount {
						font-weight: 400;
						@include font-size(18);
						@include breakpoint(desktop) {
							@include font-size(20);
						}
					}

					&-currencySymbol {
						@include font-size(13);
						@include breakpoint(desktop) {
							@include font-size(16);
						}
					}
				}

				del {
					text-decoration: none;
					position: relative;
					display: inline-block;
					margin-right: 10px;
					opacity: 1;

					&:before {
						content: '';
						display: block;
						width: 110%;
						height: 2px;
						background: $red;
						position: absolute;
						top: 50%;
						left: -5%;
						transform: rotate(-10deg);
					}
				}

				ins {
					text-decoration: none;
					color: $red;
					font-weight: 300;

					&.highlight {
						@include font-size(18);
					}
				}
			}
		}
	}
}

.product-bottom {
	//margin-bottom: 50px;
	margin-top: 80px;
	@include breakpoint(desktop) {
		margin-top: -80px;
		position: relative;
		z-index: -1;
	}
}

.product-top {
	margin: 0 auto;
	padding: 0 20px;
	@include breakpoint(desktop) {
		padding: 0;
		display: flex;
		justify-content: flex-start;
	}

	.reset_variations {
		display: none !important;
	}

	.price {
		display: none;
	}

	.woocommerce-variation-add-to-cart {
		@include clearfix();

		.btn-price {
			display: none;
		}
	}

	.product-price--flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include breakpoint(mobile) {
			flex-wrap: wrap;

			.btn {
				width: 100%;
				margin-top: 8px;
			}
		}

		.btn-price {
			.uom {
				display: none;
			}

			.woocommerce-Price {
				font-weight: 400;

				&-amount {
					font-weight: 400;
					@include font-size(40);
				}

				&-currencySymbol {
					@include font-size(24);
				}
			}

			del {
				text-decoration: none;
				position: relative;
				display: inline-block;
				margin-right: 10px;

				&:before {
					content: '';
					display: block;
					width: 110%;
					height: 2px;
					background: $red;
					position: absolute;
					top: 50%;
					left: -5%;
					transform: rotate(-10deg);
				}
			}

			ins {
				text-decoration: none;
				color: $red;

				&.highlight {
					@include font-size(18);
				}
			}
		}
	}

	.cart {
		width: 100%;
	}
}

.product-template-default {
	.site-main {
		position: relative;
	}

	.woocommerce-breadcrumb {}
}

.woocommerce {
	div.product {
		.the-box-page {
			div.images.woocommerce-product-gallery {
				background: $panna;
				display: flex;
				align-items: center;
				justify-content: center;

				figure {
					width: 100%;
				}
			}
		}
	}
}

.woocommerce {
	div.product {
		div.images.woocommerce-product-gallery {
			width: 40%;
			float: none !important;
			margin-right: 80px;
			margin-bottom: 0 !important;
			@include breakpoint(container) {
				width: 50%;
				margin-right: 60px;
			}
			@include breakpoint(mobile) {
				width: 100%;
				margin: 16px 0 0;
			}
		}

		div.summary {
			width: 40%;
			float: none !important;
			padding-top: 16px;
			padding-right: 80px;
			@include breakpoint(container) {
				width: 50%;
			}
			@include breakpoint(mobile) {
				width: 100%;
				padding: 0;
				margin-top: 16px;
			}

			.qty {
				background: #fff;
			}

			.stock {
				display: none;
			}

			.pawer-logo-badge {
				width: 130px;
				height: auto;
				margin-top: -16px;
				margin-bottom: 8px;
				@include breakpoint(mobile) {
					width: 100px;
					margin-top: 0;
				}

				svg {
					fill: $orange;
				}
			}
		}
	}
}

.product-info {
	margin-top: 16px;
	@include font-size(20);

	&--quantity {
		margin-right: 5px;
	}

	&--producer {
		a {
			display: inline-block;
			color: $blue;
			@include breakpoint(desktop) {
				&::after {
					@include transition(all 0.3s ease);
					background: $blue;
					content: '';
					display: block;
					height: 1px;
					width: 0;
				}

				&:hover {
					color: $blue;

					&::after {
						width: 100%;
					}
				}
			}
		}
	}
}

.product-quantity--change {
	display: flex;
	align-items: center;
	padding: 16px 0;

	.quantity {
		float: none !important;
		margin: 0 !important;

		.qty {
			height: 38px;
			width: 50px !important;
			border-top: 1px solid $muted;
			border-bottom: 1px solid $muted;
			font-size: 18px !important;
			text-align: center;
		}
	}

	.product-quantity--minus,
	.product-quantity--plus {
		@include font-size(24);
		background: $white;
		color: $blue;
		padding: 0 8px;
		border: 1px solid $muted;

		&.disabled {
			color: $muted;
		}
	}

	.product-quantity--minus {
		@include border-radius(4px 0 0 4px);
		border-right: none;
	}

	.product-quantity--plus {
		@include border-radius(0 4px 4px 0);
		border-left: none;
	}
}

.woocommerce-product-details {
	&__short-description {
		margin: 24px 0;

		p {
			@include font-size(18);
			line-height: 1.3;
		}
	}
}

.woocommerce span.onsale {
	@include border-radius(60px);
	padding: 8px;
	text-transform: uppercase;
	left: 30px;
	top: -15px;
	background: $orange;
	width: 120px;
	height: 120px;
	text-align: center;
	font-family: $font-sunday;
	box-shadow: 0 5px 5px 0 rgb(0 0 0 / 5%);
	transform: rotate(-13deg);
	@include breakpoint(mobile) {
		display: none;
	}

	span {
		@include font-size(24);
		display: block;
		width: 100%;
		line-height: 1;

		&.small {
			@include font-size(30);
			margin-top: 10px;
		}
	}
}

.summary form.variations_form .variations,
.woocommerce div.product form.cart .variations {
	td.label,
	th {
		width: 100%;
		display: block;
		text-align: left;

		label {
			@include font-size(12);
			text-transform: uppercase;
			letter-spacing: 2px;
			text-transform: uppercase;
			font-weight: 400;
		}
	}

	td.value {
		width: 100%;
		display: block;
	}

	.nice-select,
	.reset_variations,
	select {
		display: none;
	}

	.variation-radios {
		display: block;
		clear: both;
		width: 100%;

		label {
			display: flex;
			margin: 0 0 4px;

			&:last-of-type {
				margin-right: 0;
			}
		}

		&.attribute_pa_dimensione,
		&.attribute_pa_tipologia {
			display: flex;
			@include breakpoint(mobile) {
				flex-wrap: wrap;
				justify-content: space-between;
			}

			label {
				width: 48%;
				margin: 4px 0;
				@include breakpoint(desktop) {
					width: 25%;
					margin: 0 4px 0 0;
				}

				&:last-of-type {
					margin-right: 0;
				}
			}
		}

		input[type="radio"] {
			display: none;

			&:checked {
				+ .box {
					background-color: $primary;

					span {
						color: white;
					}
				}
			}
		}

		label {
			&:nth-child(even) {
				.box {
					&:hover {
						@include breakpoint(desktop) {
							@include transform(rotate(2deg));
						}
					}
				}

				input[type="radio"] {
					display: none;
				}
			}
		}

		.box {
			@include transition(all 0.3s ease);
			@include border-radius(24px);
			width: 100%;
			background-color: $white;
			transition: all 250ms ease;
			display: inline-block;
			text-align: center;
			cursor: pointer;
			position: relative;
			font-weight: 300;
			padding: 4px 16px;
			@include breakpoint(desktop) {
				&:hover {
					@include transform(rotate(-2deg));
				}
			}

			span {
				@include font-size(16);
				transition: all 300ms ease;
				user-select: none;
				color: $black;
				font-weight: 300;
				display: block;
			}
		}
	}
}

.woocommerce-variation-description {
	@include clearfix();
	@include breakpoint(mobile) {
		display: none;
	}

	ul {
		li {
			padding: 0;
			margin: -10px 0;

			span {
				@include font-size(28);
				color: $blue;
				position: relative;
				top: 3px;
			}
		}
	}
}

.woocommerce-variation-add-to-cart,
.woocommerce-variation-price {
	width: 100%;
	margin-top: 21px;

	.btn-price,
	.price {
		color: $black;
		display: block;

		.woocommerce-Price {
			font-weight: 400;

			&-amount {
				@include font-size(40);
				color: $black;
			}

			&-currencySymbol {
				@include font-size(24);
				color: $black;
			}
		}

		.subscription-details {
			@include font-size(24);
			color: $black;
		}
	}
}

.woocommerce-variation {
	@include breakpoint(mobile) {
		text-align: center;
	}
}

.woocommerce-variation-add-to-cart {
	text-align: right;
	margin-top: -54px;
	@include breakpoint(mobile) {
		margin-top: 8px;

		.btn {
			width: 100%;
		}
	}
}

.shipping-info {
	text-align: center;
	display: block;
	margin-top: 32px;

	p {
		@include font-size(16);
		color: $blue;

		span {
			color: $red;
		}
	}
}

.woocommerce-pagination {
	.page-numbers {
		border: none !important;

		li {
			border: none !important;
			margin: 2px 0;
			padding: 8px 2px !important;

			a,
			span {
				@include border-radius(4px);
				font-size: 14px !important;
				background: $background !important;
				color: $blue !important;
				padding: 10px 14px !important;

				&.current {
					background: rgba($blue, 0.1) !important;
				}

				&.next {
					background: transparent !important;
				}
			}
		}
	}
}

.sos-numbers {
	@include container();
	background: $panna;

	&--container {
		@include border-radius(24px);
		max-width: 990px;
		margin: 0 auto;
		background: rgba($white,0.3);
		padding: 40px;
		position: relative;
		display: flex;
		justify-content: space-between;

		.btn {
			margin-top: 180px;
		}

		.icon-heart {
			@include font-size(30);
			position: absolute;
			right: 36px;
			top: 36px;
			color: $orange;
		}
	}

	&--top {
		@include breakpoint(desktop) {
			width: 40%;
		}
	}

	&--bottom {
		text-align: right;
		@include breakpoint(desktop) {
			width: 40%;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
	}

	&--title {
		@include font-size(40);
		font-weight: 900;
		display: block;
		line-height: 0.9;
		margin-bottom: 24px;
	}

	&--subtitle {
		@include font-size(18);
		font-weight: 300;
		display: block;
	}

	&--number {
		@include font-size(190);
		font-weight: 300;
		display: block;
		line-height: 1;
	}

	&--label {
		@include font-size(16);
		font-weight: 300;
		display: block;
	}
}

.agri-values {
	@include full-bg();
	position: relative;
	padding: 120px 0 300px;
	color: $panna;
	@include breakpoint(mobile) {
		padding: 42px 0;
	}

	&--title {
		@include font-size(32);
		font-weight: 900;
		line-height: 1;
		margin-bottom: 32px;
		text-align: center;
		@include breakpoint(desktop) {
			@include font-size(42);
		}
		@include breakpoint(container) {
			@include font-size(40);
		}
		@include breakpoint(mobile) {
			@include font-size(32);
			padding: 0 20px;
		}
	}

	&--flex {
		// display: flex;
		// justify-content: center;
		// flex-wrap: wrap;
		margin-top: 40px;
	}

	&--item {
		max-width: 20%;
		text-align: center;
		padding: 24px 32px;
		@include breakpoint(mobile) {
			max-width: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			padding: 16px 20px;
		}

		&.big {
			max-width: 33.333%;
			padding: 24px 8px;

			& > span {
				@include font-size(50);
				padding: 20px;
				border-color: $black;
			}
		}

		& > svg {
			@include border-radius(50%);
			@include font-size(90);
			border: 8px solid $panna;
			padding: 16px;
			fill: $panna;
			width: 100px;
			margin: 0 auto;
			display: block;
		}
	}

	&--descr {
		@include font-size(22);
		font-weight: 600;
		margin-top: 32px;
		@include breakpoint(mobile) {
			margin-top: 16px;
		}

		span {
			font-weight: 300;
		}
	}

	&--button {
		margin-top: 40px;
		display: flex;
		justify-content: center;
	}

	&--video {
		position: absolute;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		z-index: -1;
	}
}

.box-types {
	@include container();

	&--buttons {
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 2;
	}

	&--label {
		@include border-radius(50%);
		background: $orange;
		position: absolute;
		top: 16px;
		right: 16px;
		z-index: 2;
		font-family: $font-sunday;
		color: $white;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 16px;
		line-height: 1;
		@include font-size(20);
		width: 80px;
		height: 80px;
	}

	&--claim {
		text-align: center;
		@include font-size(14);
		padding: 42px 0 0;
		@include breakpoint(desktop) {
			@include font-size(16);
		}

		a {
			@include font-size(14);
			color: $blue;
			font-weight: 300;
			position: relative;
			display: inline-block;
			cursor: pointer;
			@include breakpoint(desktop) {
				@include font-size(16);
			}

			&:after {
				@include transition(all 0.2s linear);
				background: $blue;
				bottom: -2px;
				content: '';
				display: block;
				height: 1px;
				left: 0;
				position: absolute;
				width: 100%;
			}

			&:hover {
				color: $blue;

				&::after {
					width: 0;
				}
			}
		}
	}

	&--item {
		@include border-radius(24px);
		@include full-bg();
		//width: 23%;
		padding: 240px 32px 32px;
		position: relative;
		overflow: hidden;
		color: $white;
		box-shadow: 0 3px 3px 0 rgba(0,0,0,.03);
		margin: 0 20px;

		&:before {
			content: '';
			display: block;
			background: rgba(0,0,0,0.3);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
		// &.vegana {
		// 	background: rgba($primary, 0.3);
		// }
		// &.vegetariana {
		// 	background: rgba($primary, 0.6);
		// }
		// &.pescetariana {
		// 	background: rgba($primary, 0.8);
		// }
		// &.onnivora {
		// 	background: rgba($primary, 1);
		// }
	}

	&--title {
		@include font-size(32);
		font-weight: 900;
		position: relative;
		z-index: 2;
	}

	.btn {
		position: relative;
		z-index: 2;
		margin-top: 16px;
	}

	&--list {
		@include font-size(16);
		color: $white;
		position: relative;
		z-index: 2;

		li {
			position: relative;
			padding-left: 20px;
			line-height: 1;
			margin: 8px 0;
			font-weight: 400;
		}

		.icon-check {
			@include font-size(30);
			top: -8px;
			position: absolute;
			left: -9px;
		}
	}
}
